/********* header *********/
.header{
	height:165px;
	border-bottom:3px solid var(--red);
	background:transparent url("../img/header-bg.jpg") no-repeat 0 center;
}
.header-wrap{
	position:relative;
}
.header__logo{
	display:block;
	position:absolute;
	width: 400px;
	height: 111px;
	top:27px;
	left:0;
	background:transparent url("../img/header-logo.png") no-repeat 0 0;
}
.header-wrap-top{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	height:56px;
	padding-top:6px;
	padding-left:258px;
}
.header-wrap-top-left{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.header-iconbox{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	margin-right:7px;
	font-size:0;
}
.header-iconbox__icon{
	display:inline-block;
	margin-right:10px;
}
.header-iconbox__icon_tel{
	width:14px;
	height:18px;
	background:transparent url("../img/icon-tel.png") no-repeat 0 0;
}
.header-iconbox__icon_wa{
	width:16px;
	height:16px;
	background:transparent url("../img/icon-wa.png") no-repeat 0 0;
}
.header-iconbox__icon_vb{
	width:16px;
	height:19px;
	background:transparent url("../img/icon-vb.png") no-repeat 0 0;
}
.header-iconbox__icon_tg{
	width:16px;
	height:14px;
	background:transparent url("../img/icon-tg.png") no-repeat 0 0;
}
.header-phonebox{
	display:flex;
	flex-flow:row nowrap;
	align-items:flex-end;
	margin-right:34px;
}
.header-phonebox__phone{
	font-size:20px;
	line-height:20px;
	color:var(--white);
}
.header-phonebox__text{
	font-size:14px;
	line-height:17px;
	color:var(--white);
}
.header-mailbox{
	margin-right:34px;
	padding-top:2px;
}
.header-mailbox__mail{
	font-size:20px;
	line-height:20px;
	color:var(--white);
}
.header-mailbox__mail:hover{
	color:#d7d7d7;
}
.header-mailbox__mail:active{
	color:#6f6f6f;
}
.header-socbox{
	font-size:0;
}
.header-socbox__link{
	display:inline-block;
	width:25px;
	height:25px;
	margin-right:10px;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:0 0; 
}
.header-socbox__link:hover{
	background-position:0 -25px;
}
.header-socbox__link:active{
	background-position:0 -50px;
}
.header-socbox__link_vk{
	background-image:url("../img/sprite-vk.png");
}
.header-socbox__link_ig{
	background-image:url("../img/sprite-ig.png");
}
.header-socbox__link_yt{
	background-image:url("../img/sprite-yt.png");
}
.header-login{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
	align-items:center;
	height:50px;
	width:110px;
	padding-right:20px;
	border-left:1px solid #464646;
}
.header-login__link{
	position:relative;
	display:inline-block;
	height:18px;
	padding-left:30px;
	font-size:16px;
	line-height:18px;
	color:var(--white);
}
.header-login__link:hover{
	color:#d7d7d7;
}
.header-login__link:active{
	color:#6f6f6f;
}
.header-login__link::before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:15px;
	height:18px;
	background:transparent url("../img/sprite-login.png") no-repeat 0 0;
}
.header-login__link:hover::before{
	background-position:0 -18px;
}
.header-login__link:active::before{
	background-position:0 -36px;
}

.header-wrap-bottom{
	margin-top:34px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
}
.header-search{
	position:relative;
	width:537px;
	height:45px;
}
.header-search__input{
	width:100%;
	height:100%;
	padding:6px 74px 6px 20px;
	font-size:16px;
	line-height:33px;
	font-style:italic;
	color:var(-red);
	border:none;
	border-radius:2px;
	background:var(--white);
}
.header-search__input::placeholder{
	color:#3b3d3d;
	font-style:italic;
}
.header-search__btn{
	position:absolute;
	width:54px;
	height:33px;
	top:6px;
	right:0;
	padding:0;
	border-left:1px solid var(--grey);
	border-top:none;
	border-bottom:none;
	border-right:none;
	background:transparent;
	cursor:pointer;
}
.header-search__btn::before{
	content:'';
	position:absolute;
	width:15px;
	height:12px;
	top:50%;
	left:50%;
	margin-left:-7px;
	margin-top:-6px;
	background:transparent url("../img/sprite-search_btn.png") no-repeat 0 0;
}
.header-search__btn:hover::before{
	background-position:0 -12px;
}
.header-search__btn:active::before{
	background-position:0 -24px;
}
.header-compare{
	position:relative;
	display:block;
	width:45px;
	height:45px;
	margin-left:40px;
	border-radius:2px;
	background:#898989 url("../img/icon-compare.png") no-repeat center center;
}
.header-compare:hover{
	background-color:#df0a13;
}
.header-compare:active{
	background-color:#777777;
}
.header-compare__counter{
	top:6px;
	right:6px;
	color:var(--white);
	background: var(--red);
}
.header-cart{
	position:relative;
	display:block;
	width:132px;
	height:45px;
	margin-left:20px;
	padding-left:50px;
	border-radius:2px;
	font-size:16px;
	line-height:48px;
	color:var(--white);
	background-color:var(--red);
	background-image: url("../img/icon-cart.png");
	background-repeat:no-repeat;
	background-position:14px center;
}
.header-cart:hover{
	background-color:#df0a13;
}
.header-cart:active{
	background-color:#777777;
}
.header-cart__counter{
	top:6px;
	left:26px;
	color:var(--white);
	background:#707070;
}

.navigation{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	padding:0 10px;
	border-bottom:1px solid var(--grey);
}
.navigation__item{
	display:block;
	height:64px;
	padding:0 10px;
	border-bottom:2px solid transparent;
	font-size:18px;
	line-height:62px;
	color:var(--black);
}
.navigation__item:hover{
	color:var(--red);
}
.navigation__item:active{
	color:var(--grey);
}
.navigation__item.active{
	border-color:var(--red);
}