@charset "utf-8";

/******************************************************************************
	Reset
******************************************************************************/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
ul, ol{
	list-style: none;
}
html,
body{
	height:100%;
}
a,
a:hover,
a:focus,
a:active,
input,
input:hover,
input:focus,
input:active{
	outline:none;
	text-decoration:none;
}

/******************************************************************************
	Global styles
******************************************************************************/
html{
	width:100%;
}
body{
	min-width:1236px;
	overflow:auto;
	background-color:#fff;
}
.wrapper{

}
.inner{
	width:1236px;
	margin-left:auto;
	margin-right:auto;
	padding-left:20px;
	padding-right:20px;
}
.phone-link{
	font-family:"Roboto", sans-serif;
	font-size:16px;
	line-height:16px;
	font-weight:700;
	color:#000;
}
.phone-desc{
	font-family:"Roboto", sans-serif;
	font-size:14px;
	line-height:16px;
	font-weight:400;
	color:#000;
}
.mail-link{
	font-family:"Roboto", sans-serif;
	font-size:16px;
	line-height:16px;
	font-weight:400;
	color:#000;
}
.mail-link:hover{
	text-decoration:underline;
}
.mail-link:active{
	text-decoration:underline;
	color:#c6c6c6;
}

/******************************************************************************
	Header
******************************************************************************/
.header{
	background-color:#fff;
}
.header-wrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	height:124px;
}
.header-logo{
	display:block;
	width:187px;
	height:83px;
	align-self:center;
}
.header-logo .logo-color{
	width:100%;
	height:100%;
}
.header-content{
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-end;
}
.header-contacts{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
	align-items:center;
	height:40px;
	margin:0 -20px;
	padding:0 20px;
	border-bottom:1px solid #f2f2f2;
}
.header-mail{
	margin-left:90px;
}
.header-menu{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
	align-items:center;
	height:84px;
}
.header-nav{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
	align-items:center;
}
.header-nav-item{
	margin-left:43px;
	font-family:"Roboto", sans-serif;
	font-size:18px;
	line-height:18px;
	font-weight:500;
	color:#000;
}
.header-nav-item:hover{
	color:#2073ba;
}
.header-nav-item:active{
	color:#87bdf5;
}
.header-enter-btn{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	margin-left:90px;
	width:186px;
	height:40px;
	border:1px solid #d2d2d2;
	background:#fff;
}
.header-enter-btn:hover{
	background:#d2d2d2;
}
.header-enter-btn:active{
	background:#d2d2d2;
	opacity:0.28;
}
.header-enter-txt{
	font-family:"Roboto", sans-serif;
	font-size:18px;
	line-height:18px;
	font-weight:500;
	color:#000;
}
.header-enter-icon{
	margin-left:17px;
	width:18px;
	height:20px;
}


/******************************************************************************
	Footer
******************************************************************************/
.footer{
	background:#fff;
}
.footer-wrap{
	display:flex;
	flex-flow:row nowrap;
	height:172px;
	border-top:1px solid #d2d2d2;
}
.footer-logo{
	display:block;
	width:141px;
	height:62px;
	margin:33px 121px 0 0;
}
.footer-logo .logo-bw{
	width:100%;
	height:100%;
}
.footer-contacts{
	display:flex;
	flex-grow:1;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
}

/******************************************************************************
	Traffic_count
******************************************************************************/
.traffic_count{
	position:relative;
	border-top:1px solid #64aeed;
	height:395px;
	overflow:hidden;
}
.traffic_count-left_bg{
	position:absolute;
	width:50%;
	height:394px;
	left:0;
	top:0;
	border-bottom:1px solid #64aeed;
	z-index:20;
}
.traffic_count-right_bg{
	position:absolute;
	width:50%;
	height:394px;
	right:0;
	top:0;
	background:#64aeed;
	border-bottom:1px solid #fff;
	z-index:20;
}
.traffic_count-box{
	position:absolute;
	width:1600px;
	height:395px;
	top:-1px;
	left:50%;
	transform:translateX(-50%);
	background:transparent url('../img/traffic_count-bg.png') no-repeat 0 0;
	z-index:50;
}
.traffic_count-wrap{
	width:894px;
	margin:0 auto;
	display:flex;
	flex-flow:row nowrap;
}
.traffic_count-text_block{
	width:50%;
}
.traffic_count-title{
	margin-top:96px;
	font-family:"Roboto", sans-serif;
	font-size:36px;
	line-height:48px;
	font-weight:500;
	color:#2073ba;
}
.traffic_count-desc{
	margin-top:23px;
	font-family:"Roboto", sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight:500;
	color:#000;
}
.traffic_count-btn{
	margin-top:48px;
	display:block;
	width:280px;
	height:50px;
	font-family:"Roboto", sans-serif;
	font-size:21px;
	line-height:50px;
	font-weight:500;
	color:#2073ba;
	background:#e8e8e8;
	text-align:center;
}
.traffic_count-btn:hover{
	color:#fff;
	background:#2073ba;
}
.traffic_count-btn:active{
	color:#fff;
	background:#87bdf5;
}
.traffic_count-img_block{
	width:50%;
	padding-left:30px;
}
.traffic_count-img_wrap{
	width:417px;
	height:235px;
	margin-top:53px;
}
.traffic_count-img{
	width:100%;
	height:100%;
}
.traffic_count-img-text_wrap{
	display:flex;
	flex-flow:row nowrap;
	margin-top:24px;
}
.traffic_count-img-text{
	width:130px;
	margin-right:20px;
	font-family:"Roboto", sans-serif;
	font-size:14px;
	line-height:20px;
	font-weight:500;
	color:#010000;
}
.traffic_count-img-large_text{
	font-size:24px;
}

/******************************************************************************
	Work
******************************************************************************/
.work-wrap{
	margin-top:58px;
}
.work-title{
	font-family:"Roboto", sans-serif;
	font-size:30px;
	line-height:30px;
	font-weight:700;
	color:#000;
	text-align:center;
}
.work-slider{
	position:relative;
	height:338px;
	margin-top:38px;
}
.work-slider-arr{
	position:absolute;
	width:30px;
	height:30px;
	top:50%;
	margin-top:-13px;
	cursor:pointer;
}
.work-slider-arr:hover{
	border-color:#2073ba;
}
.work-slider-arr:active{
	border-color:#87bdf5;
}
.work-slider-left_arr{
	left:4px;
	transform:rotate(-45deg);
	border-top:8px solid #64aeed;
	border-left:8px solid #64aeed;
}
.work-slider-right_arr{
	right:5px;
	transform:rotate(45deg);
	border-top:8px solid #64aeed;
	border-right:8px solid #64aeed;
}
.work-slider-arr.slick-disabled{
	border-color:#87bdf5 !important;
	opacity:0.5;
	cursor:default;
}
.work-slider-box{
	width:1024px;
	height:338px;
	margin:0 auto;
	overflow:hidden;
	font-size:0;
}
.work-slide{
	display:flex !important;
	flex-flow:row nowrap;
	width:1024px;
	height:338px;
}
.work-slide-img_box{
	width:600px;
	height:338px;
	overflow:hidden;
}
.work-slide-img{
	width:100%;
	height:100%;
}
.work-slide-text_box{
	display:flex;
	flex-flow:column nowrap;
	margin:17px 0 17px 64px;
	justify-content:space-between;
}
.work-slide-text{
	display:flex;
	flex-flow:row nowrap;
	align-items:flex-end;
}
.work-slide-text_count{
	display:inline-block;
	width:66px;
	font-family:"Roboto", sans-serif;
	font-size:72px;
	line-height:67px;
	font-weight:500;
	color:#e8e8e8;
}
.work-slide-text_desc{
	font-family:"Roboto", sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight:500;
	color:#9a9a9a;
}
.work-slide-text_active .work-slide-text_count{
	color:#64aeed;
}
.work-slide-text_active .work-slide-text_desc{
	color:#000;
}

/******************************************************************************
	Try
******************************************************************************/
.try{
	padding-top:69px;
}
.try-box{
	height:566px;
	padding-top:69px;
	background:transparent url('../img/try-bg.jpg') no-repeat center top;
}
.try-wrap{
	width:894px;
	margin:0 auto 0;
}
.try-title{
	font-family:"Roboto", sans-serif;
	font-size:36px;
	line-height:normal;
	font-weight:700;
	color:#2073ba;
	text-align:center;
}
.try-desc{
	margin-top:15px;
	font-family:"Roboto", sans-serif;
	font-size:18px;
	line-height:24px;
	font-weight:500;
	color:#000;
	text-align:center;
}
.upload{
	margin-top:46px;
}
.upload-box{
	height:300px;
	border:2px dashed #c6c6c6;
	border-radius:16px;
}
.upload-input{
	display:none;
}
.upload-title{
	margin-top:93px;
	font-family:"Roboto", sans-serif;
	font-size:24px;
	line-height:24px;
	font-weight:500;
	color:#9a9a9a;
	text-align:center;
}
.upload-label{
	display:block;
	width:280px;
	height:50px;
	margin:42px auto 0;
	font-family:"Roboto", sans-serif;
	font-size:21px;
	line-height:50px;
	font-weight:500;
	color:#fff;
	background:#c6c6c6;
	text-align:center;
	cursor:pointer;
}
.upload-label:hover{
	background:#2073ba;	
}
.upload-label:active{
	background:#87bdf5;	
}
.not-drop .upload-title{
	display:none;
}

/******************************************************************************
	Tariffs
******************************************************************************/
.tarifs-wrap{
	padding-bottom:80px;
}
.tarifs-title{
	margin-top:67px;
	font-family:"Roboto", sans-serif;
	font-size:30px;
	line-height:normal;
	font-weight:700;
	color:#000;
	text-align:center;
}
.tarifs-box{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:space-between;
	width:894px;
	height:607px;
	margin:50px auto 0;
	background:transparent url('../img/tariffs-bg.png') no-repeat 0 0;
	overflow:hidden;
}
.tarifs-item{
	width:33.33%;
	display:flex;
	flex-flow:column nowrap;
	justify-content:space-between;
	padding:72px 33px 102px;
}
.tarifs-item_title{
	font-family:"Roboto", sans-serif;
	font-size:24px;
	line-height:normal;
	font-weight:500;
	color:#000;
	text-align:center;
}
.tarifs-item_text{
	margin-top:20px;
	font-family:"Roboto", sans-serif;
	font-size:16px;
	line-height:20px;
	font-weight:400;
	color:#000;
}
.tarifs-item_text p{
	margin-bottom:5px;
}
.tarifs-item_btn{
	display:block;
	height:50px;
	font-family:"Roboto", sans-serif;
	font-size:18px;
	line-height:50px;
	font-weight:500;
	color:#252525;
	text-align:center;
	background:#e8e8e8;
}
.tarifs-item_btn:hover{
	color:#fff;
	background:#2073ba;
}
.tarifs-item_btn:active{
	color:#fff;
	background:#c6c6c6;
}
.tarifs-item.tarifs-item_center{
	padding:18px 33px 76px;
}
.tarifs-item_center .tarifs-item_up_title{
	margin-bottom:32px;
	font-family:"Roboto", sans-serif;
	font-size:18px;
	line-height:normal;
	font-weight:500;
	color:#fff;
	text-align:center;
}
.tarifs-item_center .tarifs-item_title{
	color:#fff;
}
.tarifs-item_center .tarifs-item_btn{
	font-size:21px;
	color:#2073ba;
	background:#fff;
}
.tarifs-item_center .tarifs-item_btn:hover{
	color:#fff;
	background:#2073ba;
}
.tarifs-item_center .tarifs-item_btn:active{
	color:#fff;
	background:#c6c6c6;
}

/******************************************************************************
	Review
******************************************************************************/
.review{
	position:relative;
	height:455px;
	overflow:hidden;
}
.review-left_bg{
	position:absolute;
	width:50%;
	height:455px;
	left:0;
	top:0;
	z-index:20;
	background:transparent url('../img/review-pattern_left.png') repeat-x right top;
}
.review-right_bg{
	position:absolute;
	width:50%;
	height:455px;
	right:0;
	top:0;
	background:transparent url('../img/review-pattern_right.png') repeat-x 0 0;
	z-index:20;
}
.review-box{
	position:absolute;
	width:1600px;
	height:455px;
	top:0;
	left:50%;
	transform:translateX(-50%);
	background:transparent url('../img/review-bg.png') no-repeat 0 0;
	z-index:50;
}
.review-title{
	margin:67px 80px 0 0;
	font-family:"Roboto", sans-serif;
	font-size:36px;
	line-height:36px;
	font-weight:700;
	color:#fff;
	text-align:center;
}
.review-slider{
	position:relative;
	margin-top:16px;
}
.review-slider-arr{
	position:absolute;
	width:30px;
	height:30px;
	top:93px;
	cursor:pointer;
}
.review-slider-arr:hover{
	border-color:#2073ba;
}
.review-slider-arr:active{
	border-color:#87bdf5;
}
.review-slider-left_arr{
	left:4px;
	transform:rotate(-45deg);
	border-top:8px solid #fff;
	border-left:8px solid #fff;
}
.review-slider-right_arr{
	right:5px;
	transform:rotate(45deg);
	border-top:8px solid #fff;
	border-right:8px solid #fff;
}
.review-slider-arr.slick-disabled{
	border-color:#fff !important;
	opacity:0.5;
	cursor:default;
}
.review-slider-box{
	width:1060px;
	height:334px;
	margin:0 auto;
	overflow:hidden;
	font-size:0;
}
.review-slide{
	display:flex !important;
	flex-flow:row nowrap;
	width:1060px;
	height:334px
}
.review-slide-img_box{
	width:214px;
	height:214px;
	min-width:214px;
	border-radius:50%;
	overflow:hidden;
	flex-grow:1;
}
.review-slide-img{
	object-fit:cover;
}
.review-slide-text_box{
	margin:65px 0 0 47px;
}
.review-slide-name{
	font-family:"Roboto", sans-serif;
	font-size:18px;
	line-height:normal;
	font-weight:500;
	color:#000;
}
.review-slide-text{
	margin-top:22px;
	font-family:"Roboto", sans-serif;
	font-size:16px;
	line-height:20px;
	font-weight:400;
	color:#000;
}
.review-slide-text p{
	margin-bottom:5px;
}

/******************************************************************************
	Ready
******************************************************************************/
.ready-wrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	width:1024px;
	height:167px;
	margin:0 auto;
}
.ready-title{
	font-family:"Roboto", sans-serif;
	font-size:36px;
	line-height:36px;
	font-weight:700;
	color:#2073ba;
}
.ready-btn_wrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
	align-items:center;
}
.ready-btn{
	display:block;
	height:50px;
	padding:0 34px 0 30px;
	font-family:"Roboto", sans-serif;
	font-size:18px;
	line-height:50px;
	font-weight:500;
	color:#252525;
	background:#e8e8e8;
}
.ready-btn:first-child{
	margin-right:55px;
}
.ready-btn:hover{
	color:#fff;
	background:#2073ba;
}
.ready-btn:active{
	color:#fff;
	background:#87bdf5;
}