@charset "utf-8";

/* Reset */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
ul, ol{
	list-style: none;
}
input,
input:hover,
input:focus,
input:active{
	outline:none;
}
a{
	color:inherit;
	text-decoration:underline;
}
a:hover,
a:active{
	color:inherit;
	text-decoration:none;
}
a:visited{
	color:inherit;
}






/* Global styles */
html{
	height:100%;
}
body{
	height:auto !important;
	height:100%;
	min-height:100%;
	font-family:Roboto, sans-serif;
	font-weight:400;
	color:#1D1D1D;
	background:#FAFAFA;
	scroll-behavior:smooth;
}
.inner{
	width:100%;
	max-width:1680px;
	margin:0 auto;
}
.section{
	width:100%;
	max-width:1680px;
	margin:80px auto;
}
.red{
	color:#FF3B30;
}
.grey{
	color:#757575;
}







/* Elements */
.btn{
	flex:0 0 auto;
	display:block;
	width:229px;
	cursor:pointer;
}
.btn__link{
	display:flex;
	justify-content:center;
	align-items:flex-start;
	width:100%;
	height:40px;
	background:#FADC56;
	border-radius:5px;
	font-weight:700;
	font-size:18px;
	line-height:42px;
	text-decoration:none;
}
.btn__desc{
	font-size:16px;
	line-height:20px;
	text-align:center;
}
.btn.btn_large{
	width:100%;
}
.btn.btn_large .btn__link{
	height:48px;
	font-weight:700;
	font-size:18px;
	line-height:50px;
}
.section__name{
	margin:0 0 24px 0;
	font-weight:700;
	font-size:32px;
	line-height:40px;
	text-align:center;
}
.section__name_small{
	margin:0 0 24px 0;
	font-weight:700;
	font-size:28px;
	line-height:40px;
	text-align:center;
}
.section-linkwrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	margin:24px 0 0 0;
}
.section-linkwrap__link{
	display:inline-block;
	margin:0; 
	padding:0 0 0 28px;
	font-size:16px;
	line-height:24px;
	background:transparent url('../img/link-arrow.svg') no-repeat 0 100%;
}
.section-linkwrap .section-linkwrap__link{
	margin:0 24px 0 0;
}
.icon-document::before{
	background-image:url('../img/icon-document.svg');
}
.icon-track::before{
	background-image:url('../img/icon-track.svg');	
}
.icon-track24::before{
	background-image:url('../img/icon-track24.svg');	
}
.icon-tools::before{
	background-image:url('../img/icon-tools.svg');
}
.icon-delivery::before{
	background-image:url('../img/icon-delivery.svg');
}
.icon-calendar::before{
	background-image:url('../img/icon-calendar.svg');
}
.icon-loader::before{
	background-image:url('../img/icon-loader.svg');	
}
.icon-money::before{
	background-image:url('../img/icon-money.svg');
}
.checkbox input{
	display:inline-block;
	width:20px;
	height:20px;
}
.checkbox span{
	display:inline-block;
	margin:0 0 0 10px;
	font-size:14px;
	line-height:22px;
	vertical-align:top;
}
select{
	width:100%;
	height:40px;
	margin:0 0 22px 0;
	padding:8px 16px;
	border:1px solid #E9E9E9;
	border-radius:4px;
	font-size:16px;
	line-height:22px;
	background:#fff;
}






/* Sections */
.section-list-content{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-items:stretch;
	text-align:left;
	width:100%;
	margin:0 0 -40px 0;
}
.section-list__item{
	width:50%;
	margin:0 0 40px 0;
	padding-right:32px;
}
.section-list__item:nth-child(even){
	padding-right:0;
}
.section-list__item > div{
	font-weight:700;
	font-size:18px;
	line-height:24px;
}
.section-list__item > span{
	display:inline-block;
	margin:8px 0 0 0;
	font-size:15px;
	line-height:24px;	
}




.section.section-container{
	width:1069px;
	max-width:1069px;
}
.section-container-content{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:flex-start;
	width:100%;
}
.section-container-imgwrap{
	width:603px;
	margin:0 56px 0 0;
}
.section-container__img{
	width:100%;
}
.section-container-text{
	width:410px;
	padding:24px;
	border:1px solid #E9E9E9;
	border-radius:8px;
	background:#FFFFFF;
}
.section-container-text__name{
	margin:0 0 16px 0;
	font-weight:700;
	font-size:24px;
	line-height:32px;
}
.section-container-price{
	display:inline-block;
	margin:24px 0 0 0;
	padding:10px 60px;
	font-weight:700;
	font-size:22px;
	line-height:28px;
	text-align:center;	
	border:1px solid #E9E9E9;
	border-radius:5px;
	background:#FFFFFF;
}



.section-list-row-content{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:flex-start;
	width:100%;
}
.section-list-row-item{
	position:relative;
	width:396px;
	padding:88px 0 0 0;
}
.section-list-row-item::before{
	content:'';
	position:absolute;
	width:64px;
	height:64px;
	top:0;
	left:50%;
	margin:0 0 0 -32px;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center;
}
.section-list-row-item__name{
	margin:0 0 8px 0;
	font-weight:700;
	font-size:18px;
	line-height:24px;
	text-align:center;
}
.section-list-row-item__text{
	font-size:15px;
	line-height:24px;
	text-align:center;
	color:rgba(29, 29, 29, 0.8);
}





.section.section-table{
	width:1062px;
	max-width:1062px;
}
.table{
	display:table;
	width:100%;
	border:1px solid #E9E9E9;
	border-radius:8px;
	overflow:hidden;
}
.table > div {
	background:#FFF;
}
.table > div:nth-child(even){
	background:#FAFAFA;
}
.table-header{
	display:table-row;
	border-bottom:1px solid #E9E9E9;
}
.table-header__cell{
	display:table-cell;
	padding:24px 0 16px;
	vertical-align:bottom;
	text-align:center;
	border-bottom:1px solid #E9E9E9;
}
.table-header__cell_name{
	padding:24px 0 16px 24px;
}
.table-header__img{
	display:inline-block;
	margin-bottom:16px;
}
.table-header__cell div{
	font-weight:700;
	font-size:20px;
	line-height:24px;
}
.table-row{
	display:table-row;
}
.table__cell{
	display:table-cell;
	padding:16px 0;
	vertical-align:bottom;
	text-align:center;
	font-size:18px;
	line-height:24px;
	border-bottom:1px solid #E9E9E9;
}
.table__cell_name{
	width:218px;
	font-weight:700;
	font-size:18px;
	line-height:24px;
	padding:16px 0 16px 24px;
	text-align:left;
}
.table-footer{
	display:table-row;
}
.table-footer div{
	position:relative;
	display:table-cell;
	height:56px;
}
.table-footer div span{
	position:absolute;
	width:1062px;
	padding:16px 24px;
	text-align:center;
	font-weight:700;
	font-size:18px;
	line-height:24px;
}





/* Header */
.header{
	height:80px;
	border-bottom:1px solid #E9E9E9;
	background:#F6F6F6;
}
.header-wrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	height:100%;
}
.header-content{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-start;
	align-items:center;
}
.header-logo{
	flex:0 0 auto;
	display:block;
	width:151px;
	height:48px;
	text-decoration:none;
}
.header-logo__img{
	display:block;
	max-width:100%;
	max-height:100%;
}
.header-nav{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-start;
	align-items:center;
	margin-left:273px;
}
.header-nav li{
	margin-right:32px;
}
.header-nav li:last-child{
	margin-right:0;
}
.header-nav li a{
	font-size:16px;
	line-height:24px;
}
.header + .section{
	margin-top:16px; 
}
.menu__toggle,
.menu__btn{
	display:none;
}




/* Calc */
.calc__name{
	margin:0 0 24px 0;
	font-weight:700;
	font-size:35px;
	line-height:40px;
	text-align:left;
}
.calc-wrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:flex-start;
	width:100%;
}
.calc-form{
	width:542px;
	padding:40px;
	border:1px solid #E9E9E9;
	border-radius:8px;
	background:#FFFFFF;
}
.calc-form__name{
	margin:0 0 22px 0;
	font-weight:700;
	font-size:28px;
	line-height:32px;
}
.calc-form label{
	display:block;
	font-size:14px;
	line-height:24px;
	color:rgba(29, 29, 29, 0.6);
}
.calc-form select{
	margin:0 0 22px 0;
}
.calc-form .checkbox{
	margin:0 0 22px 0;
}
.calc-form .checkbox span{
	color:#1D1D1D;
}
.calc-content{
	width:952px;
	text-align:center;
}
.calc__img{
	display:inline-block;
}
.calc-pricewrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:flex-start;
	width:100%;
	margin:-7px 0 24px 0;
}
.calc__price{
	width:312px;
	height:48px;
	border:1px solid #E9E9E9;
	border-radius:5px;
	font-weight:700;
	font-size:22px;
	line-height:48px;
	text-align:center;
	background:#FFFFFF;
}



/* Infographic */
.section-list-row-item.icon-money{
	padding:88px 15px 0 15px;
}



/* Seo */
.seo-content{
	width:100%;
	padding:40px;
	border:1px solid #E9E9E9;
	border-radius:8px;
	background:#FFFFFF;
	font-size:16px;
	line-height:24px;
}
.seo-content p{
	margin:0 0 24px 0;
}
.seo-content ul{
	margin-bottom:24px;
}
.seo-content ul li:before{
	content:'• ';
	font-size:16px;
	line-height:16px;
	vertical-align:middle;
}
.seo-content p + ul{
	margin-top:-24px;
}
.seo-content > *:last-child{
	margin-bottom:0;
}



/* Price */
.price-desc{
	font-weight:700;
	font-size:18px;
	line-height:24px;
}
.price-desc-box{
	width:100%;
	margin:0 0 8px 0;
}
.price-desc-box_row{
	display:flex;
	flex-flow:row nowrap;
	align-items:flex-end;
	margin:0 0 8px 0;
}
.price-desc-box_row > div{
	width:50%;
}
.price-desc > div:last-child{
	margin:0;	
}
.price-desc .grey{
	font-size:16px;
}




/* Comments */
.comments-list{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-items:flex-start;
	width:100%;
}
.comments__item{
	width:824px;
	margin:0 0 32px 0;
}
.comments__item audio{
	width:100%;
	height:40px;
}
.comments__item-textwrap{
	margin:20px 0 0 0;
	padding:24px;
	border:1px solid #E9E9E9;
	border-radius:8px;
	background:#FFFFFF;
}
.comments__item-textwrap div[itemprop="name"]{
	margin:0 0 16px 0;
	font-weight:700;
	font-size:20px;
	line-height:24px;
}
.comments__item-text{
	font-size:18px;
	line-height:24px;
}
a.comments__link{
	font-size:16px;
	line-height:24px;
	color:#5E8BA7;
}





/* Technics */
.technics-wrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:flex-start;
	width:100%;
	margin:32px 0 0 0;
}
.technics-item{
	width:539px;
	padding:40px 80px;
	text-align:center;
	border:1px solid #E9E9E9;
	border-radius:8px;
	background:#FFFFFF;
}
.technics-item__img{
	display:inline-block;
	width:100%;
}
.technics-item__name{
	display:inline-block;
	margin:24px 0 32px 0;
	font-weight:700;
	font-size:26px;
	line-height:32px;
	text-align:center;
}
.technics-item__text{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	width:100%;
	padding:20px 0 16px;
	border-bottom:1px solid #E9E9E9;
	font-weight:700;
	font-size:16px;
	line-height:24px;
}
.technics-item__text:last-child{
	border-bottom:none;
}
.technics-item__text-desc{
	color:rgba(29, 29, 29, 0.6);
}
.technics-item__btn{
	margin:8px 0 0 0;
}





/* Filling */
.filling .section-container-text{
	margin:16px 0 0 0;
}
.filling-desc{
	display:flex;
	flex-flow:row wrap;
	font-weight:700;
	font-size:16px;
	line-height:24px;
}
.filling-desc-box{
	width:100%;
	margin:0 0 16px 0;
}
.filling-desc__str{
	display:inline-block;
}
.filling-desc-box:last-child{
	margin:0;	
}
.filling-desc-box.filling-desc-box_small{
	width:50%;
}
.filling-desc__name{
	margin:0 0 8px 0;
}







/* Types */
.types{
	text-align:center;
}
.types .section-list__item{
	min-height:84px;
	padding-left:108px;
}
.types__item_buildings{
	background:transparent url('../img/types-buildings.svg') no-repeat 0 0;	
}
.types__item_solid{
	background:transparent url('../img/types-solid.svg') no-repeat 0 0;	
}
.types__item_large{
	background:transparent url('../img/types-large.svg') no-repeat 0 0;	
}
.types__item_mix{
	background:transparent url('../img/types-mix.svg') no-repeat 0 0;	
}
.types-btnwrap{
	display:inline-flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	height:48px;
	margin:40px auto 0;
	padding:0 48px;
	border-radius:24px;
	background:rgba(0, 138, 229, 0.1);
}
.types-btnwrap a{
	margin-right:24px;
	font-size:16px;
	line-height:24px;
	color:#5E8BA7;
}
.types-btnwrap a:last-child{
	margin-right:0;
}






/* Questions */
.questions .section-list__item{
	min-height:48px;
	padding-left:64px;
	background:transparent url('../img/questions-icon.svg') no-repeat 0 0;
}





/* Order */
.order-wrap{
	display:flex;
	flex-flow:row nowrap;
	padding:40px 0 40px 380px;
	border:1px solid #E9E9E9;
	border-radius:8px;
	background:#FFFFFF;
	width:100%;
}
.order-content{
	margin:0 0 0 32px;
}
.order__name.section__name{
	margin:0 0 32px 0;
}
.order__text{
	width:325px;
	font-size:16px;
	line-height:24px;
}
.order__phone{
	margin:8px 0 16px;
	font-weight:700;
	font-size:32px;
	line-height:40px;
}
.order__btn{
	display:inline-block;
	width:164px;
	height:48px;
	margin-top:32px;
	border-radius:5px;
	font-weight:700;
	font-size:18px;
	line-height:48px;
	text-align:center;
	background:#FADC56;
	text-decoration:none;
}





/* Services */
.services-content{
	margin:0 0 -40px 0;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
}
.services__cell{
	width:400px;
	text-align:center;
	margin-bottom:40px;
}
.services__cell > div{
	width:100%;
	height:240px;
	border-radius:8px;
	overflow:hidden;
}
.services__cell > div > img{
	display:block;
	height:240px;
	margin:0 auto;
}
.services__cell > a{
	display:inline-block;
	margin-top:16px;
	font-size:18px;
	line-height:24px;
}





/* Footer */
.footer-top{
	height:80px;
	border-bottom:1px solid #E9E9E9;
	background:#F6F6F6;
}
.footer-top-wrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	height:100%;
}
.footer-logo{
	flex:0 0 auto;
	display:block;
	width:151px;
	height:48px;
	text-decoration:none;
}
.footer-logo__img{
	display:block;
	max-width:100%;
	max-height:100%;
}
.footer-desc{
	padding:0 50px 0 136px;
	font-size:10px;
	line-height:16px;
}
.footer-bottom{
	padding:16px 0 40px 0;
}
.footer-bottom-wrap{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
}
.footer-bottom__col{
	width:25%;
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-start;
	padding:0 20px 0 0;
}
.footer-bottom__col a{
	font-size:16px;
	line-height:24px;
	margin:0 0 8px 0;
}
.footer-bottom__col a:last-child{
	margin:0; 
}

@media only screen and (max-width: 1680px) and (min-width: 1681px) {
	.inner{
		max-width:1280px;
	}
	.section{
		max-width:1280px;
	}
	.section-list{
		width:1062px;
	}
	.section-list-row-item{
		width:302px;
	}
	.header-nav{
		margin-left:67px;
	}
	.calc-form{
		width:411px;
	}
	.calc-content{
		width:736px;
		text-align:center;
	}
	.calc__price{
		width:240px;
	}
	.section-list-row-item.icon-money{
		padding:88px 0 0 0;
	}
	.seo{
		width:1062px;
	}
	.comments{
		width:1062px;
	}
	.comments__item{
		width:519px;
	}
	.technics-item{
		width:411px;
		padding:40px 64px;
	}
	.order{
		width:1062px;
		padding:40px 0 40px 108px;
	}
	.services__cell{
		width:302px;
	}
	.footer-desc{
		padding:0 96px 0 67px;
	}
}

@media only screen and (max-width: 767px) {
	.inner{
		max-width:none;
		padding-left:16px;
		padding-right:16px;
	}
	.section{
		max-width:none;
		margin:40px auto 0;
		padding-left:16px;
		padding-right:16px;
	}


	.btn{
		width:100%;
	}
	.btn__desc{
		font-size:12px;
		line-height:16px;
	}
	.btn.btn_large .btn__link{
		height:40px;
		font-size:16px;
		line-height:42px;
	}
	.section__name{
		margin:0 0 24px 0;
		font-size:24px;
		line-height:32px;
	}
	.section__name_small{
		margin:0 0 16px 0;
		font-size:24px;
		line-height:32px;
	}
	.section-linkwrap{
		display:flex;
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:center;
		margin:16px 0 0 0;
		padding:0 16px;
	}
	.section-linkwrap .section-linkwrap__link{
		order:1;
		margin:8px 0 0 0;
		padding:0 0 0 28px;
		font-size:14px;
	}
	.main .checkbox{
		display:flex;
		flex-flow:row nowrap;
		justify-content:flex-start;
		align-items:center;
	}
	.checkbox span{
		margin:2px 0 0 10px;
		line-height:14px;
		vertical-align:baseline;
	}
	select{
		margin:0 0 16px 0;
		font-size:14px;
	}


	.section.section-container{
		width:100%;
		max-width:100%;
	}
	.section-container-content{
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:stretch;
		width:100%;
	}
	.section-container-imgwrap{
		width:100%;
		margin:0 0 16px 0;
	}
	.section-container-text{
		width:100%;
		padding:16px;
		border-radius:4px;
	}
	.section-container-text__name{
		margin:0 0 8px 0;
		font-size:20px;
		line-height:24px;
	}
	.section-container-price{
		width:100%;
		margin:16px 0 0 0;
		padding:8px 16px;
		font-size:14px;
		line-height:24px;
		border-radius:4px;
		letter-spacing:-0.2px;
	}



	.header{
		height:auto;
	}
	.header-wrap{
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:center;
		height:auto;
		padding-top:8px;
		padding-bottom:8px;
	}
	.header-content{
		position:relative;
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:center;
		width:100%;
	}
	.header__btn{
		margin-top:8px;
	}
	.header-nav{
		flex-flow:column nowrap;
		justify-content:flex-end;
		align-items:center;
		margin:0;
		height:0;
		overflow:hidden;
		transition:height 0.3s linear;
	}
	.header-nav li{
		margin-right:0;
	}
	.header-nav li a{
		font-size:16px;
		line-height:24px;
	}


/* Mob menu */
	.menu__btn{
		display:flex;
		align-items:center;
		position:absolute;
		top:12px;
		left:0;
		width:24px;
		height:24px;
		padding:3px;
		cursor:pointer;
		z-index:50;
	}
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after{
		display:block;
		position:absolute;
		width:18px;
		height:2px;
		background-color:#1D1D1D;
		border-radius:1px;
		transition-duration:0.3s;
	}
	.menu__btn > span::before{
		content:'';
		top:-6px;
	}
	.menu__btn > span::after{
		content:'';
		top:6px;
	}
	#menu__toggle:checked ~ .menu__btn > span{
		transform:rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before{
		top:0;
		transform:rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after{
		top:0;
		transform:rotate(90deg);
	}

	#menu__toggle:checked ~ .header-nav{
		height:104px;
	}
	
	.header + .section{
		margin-top:8px; 
	}

	/* Calc */
	.calc__name{
		width:230px;
		margin:0 auto 8px;
		font-size:24px;
		line-height:32px;
		text-align:center;
	}
	.calc-wrap{
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:stretch;
		width:100%;
	}
	.calc-form{
		order:1;
		width:auto;
		margin:16px -16px 0;
		padding:24px 16px;
		border-radius:0;
		border-left:none;
		border-right:none;
	}
	.calc-form__name{
		margin:0 0 16px 0;
		font-size:24px;
	}
	.calc-form select{
		margin:0 0 16px 0;
	}
	.calc-form .checkbox{
		margin:0 0 16px 0;
	}

	.calc-content{
		order:0;
		width:100%;
	}
	.calc__img{
		width:100%;
		height:auto;
	}
	.calc-pricewrap{
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:stretch;
		margin:-7px 0 8px 0;
	}
	.calc__price{
		width:100%;
		height:40px;
		font-size:14px;
		line-height:40px;
		margin:0 0 8px 0;
	}
	.calc__price:last-child{
		margin:0;
	}
	.calc .section-linkwrap__link{
		margin:8px 0 0 0;
	}

	.infographic.section{
		margin:24px auto 0;
	}
	.section-list-row-content{
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:stretch;
		width:100%;
	}
	.section-list-row-item{
		width:100%;
		margin:0 0 24px 0;
		padding:0 0 0 80px;
	}
	.section-list-row-item.icon-money{
		padding:0 0 0 80px;
	}
	.section-list-row-item:last-child{
		margin:0;
	}
	.section-list-row-item::before{
		top:0;
		left:0;
		margin:0;
	}
	.section-list-row-item__name{
		margin:0;
		font-size:16px;
		text-align:left;
	}
	.section-list-row-item__text{
		font-size:14px;
		text-align:left;
	}


	.section.section-table{
		width:100%;
		max-width:100%;
		padding:0;
	}
	.table{
		display:block;
		width:100%;
		border:none;
		border-radius:0;
		border-top:1px solid #E9E9E9;
	}
	.table > div {
		background:transparent;
	}
	.table > div:nth-child(even){
		background:transparent;
	}
	.table-header{
		display:none;
	}
	.table-row{
		display:flex;
		flex-flow:row wrap;
		justify-content:center;
		align-items:stretch;
	}
	.table__cell{
		display:block;
		padding:0 0 8px 0;
		vertical-align:top;
		text-align:center;
		width:33.33%;
		background:#fff;
		font-size:14px;
		line-height:20px;
		border-right:1px solid #E9E9E9;
	}
	.table__cell:last-child{
		border-right:none;
	}
	.table__cell::before{
		display:block;
		border-bottom:1px solid #E9E9E9;
		font-weight:700;
		font-size:14px;
		line-height:20px;
		background:#FAFAFA;
		margin-bottom:8px;
		padding:8px;
		white-space:pre;
	}
	.table__cell:nth-child(2)::before{
		content:'Контейнер\A 8 м3';
	}
	.table__cell:nth-child(3)::before{
		content:'Контейнер\A 20 м3';	
	}
	.table__cell:nth-child(4)::before{
		content:'Контейнер\A 27 м3';
	}
	.table__cell_name{
		width:100%;
		font-size:16px;
		line-height:24px;
		padding:8px 0;
		text-align:center;
		background:#fff;
		border-right:none;
	}
	.table__cell_name::before{
		display:none;
	}
	.table-footer{
		display:block;
		border-bottom:1px solid #E9E9E9;
	}
	.table-footer div{
		position:static;
		display:block;
		height:auto;
		padding:8px 16px;
		text-align:center;
		background:#fff;
	}
	.table-footer div span{
		position:static;
		width:auto;
		padding:0;
		font-size:14px;
	}


	/* Seo */
	.seo-content{
		padding:16px;
		border-radius:4px;
		font-size:14px;
	}
	.seo-content ul li:before{
		font-size:14px;
	}



	/* Price */
	.price-desc{
		font-size:16px;
		display:flex;
		flex-flow:row wrap;
		justify-content:flex-start;
		align-items:flex-start;
	}
	.price-desc-box{
		font-weight:400;
		font-size:14px;
		line-height:24px;
	}
	.price-desc-box_row{
		width:50%;
		flex-flow:column nowrap;
		align-items:flex-start;
		margin:0 0 16px 0;
	}
	.price-desc-box_row > div{
		width:100%;
	}
	.price-desc > div:last-child,
	.price-desc > div:nth-last-child(2){
		margin:0;
	}
	.price-desc .grey{
		font-size:14px;
	}

	/* Comments */
	.comments-list{
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:stretch;
	}
	.comments__item{
		width:100%;
		margin:0 0 32px 0;
	}
	.comments__item:last-child{
		margin:0 0 16px 0;
	}
	.comments__item-textwrap{
		margin:8px 0 0 0;
		padding:16px;
		border:1px solid #E9E9E9;
		border-radius:4px;
	}
	.comments__item-textwrap div[itemprop="name"]{
		margin:0 0 8px 0;
		font-size:16px;
	}
	.comments__item-text{
		font-size:14px;
		line-height:20px;
	}
	a.comments__link{
		font-size:14px;
		line-height:24px;
		color:#5E8BA7;
	}



	/* Technics */
	.technics-wrap{
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:stretch;
		margin:16px 0 0 0;
	}
	.technics-item{
		width:100%;
		padding:16px;
		border-radius:4px;
		margin:0 0 16px 0;
	}
	.technics-item:last-child{
		margin:0;
	}
	.technics-item__name{
		display:inline-block;
		margin:16px 0;
		font-size:18px;
		line-height:24px;
	}
	.technics-item__text{
		padding:16px 0;
		font-size:14px;
	}
	.technics-item__btn{
		margin:0;
	}


	/* Filling */
	.filling .section-container-text{
		margin:0;
	}
	.filling .section-container-text__name{
		margin:0 0 16px 0;
	}
	.filling-desc{
		flex-flow:column nowrap;
		font-size:14px;
	}
	.filling-desc-box{
		width:100%;
		margin:0 0 16px 0;
	}
	.filling-desc-box:last-child{
		margin:0;	
	}
	.filling-desc-box.filling-desc-box_small{
		width:100%;
	}
	.filling-desc__name{
		margin:0;
		font-size:16px;
		line-height:24px;
	}
	.filling-desc__str{
		display:block;
	}


	/* Types */
	.section-list-content{
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:stretch;
		text-align:left;
		width:100%;
		margin:0;
	}
	.section-list__item{
		width:100%;
		margin:0 0 24px 0;
		padding-right:0;
	}
	.section-list__item > div{
		font-size:16px;
	}
	.section-list__item > span{
		margin:0;
		font-size:14px;
		color:rgba(29, 29, 29, 0.8);
	}
	.types .section-list__item{
		min-height:none;
		padding-left:80px;
		background-size:64px 64px;
	}
	.types-btnwrap{
		display:inline-flex;
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:center;
		height:auto;
		width:100%;
		margin:0 auto;
		padding:12px;
		border-radius:5px;
	}
	.types-btnwrap a{
		margin-right:0;
		margin-bottom:16px;
	}
	.types-btnwrap a:last-child{
		margin-right:0;
		margin-bottom:0;
	}


	/* Order */
	.order-wrap{
		display:flex;
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:flex-start;
		padding:16px;
	}
	.order__img{
		display:block;
		width:256px;
		align-self:center;
	}
	.order-content{
		margin:16px 0 0 0;
	}
	.order__name.section__name{
		text-align:left;
		margin:0 0 16px 0;
	}
	.order__text{
		font-size:14px;
		width:100%;
	}
	.order__phone{
		margin:8px 0;
		font-size:24px;
		line-height:32px;
	}
	.order__btn{
		display:inline-block;
		width:100%;
		margin-top:16px;
		font-weight:700;
	}

	/* Questions */
	.questions .section-list__item{
		min-height:none;
		padding-left:48px;
		background:transparent url('../img/questions-icon.svg') no-repeat 0 0;
		background-size:32px 32px;
	}


	/* Services */
	.services-content{
		margin:0;
		display:flex;
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:stretch;
	}
	.services__cell{
		width:100%;
		margin-bottom:32px;
	}
	.services__cell > a{
		margin-top:8px;
		font-size:16px;
		line-height:24px;
	}


	/* Footer */
	.footer-top{
		height:auto;
		padding:8px 0;
	}
	.footer-top-wrap{
		display:flex;
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-items:center;
		height:auto;
		width:100%;
	}
	.footer-logo{
		margin-bottom:8px;
	}
	.footer-desc{
		order:2;
		margin:8px -16px 0 -16px;
		padding:8px 16px 0 16px;
		border-top:1px solid #E9E9E9;
		align-self:flex-start;
	}
	.footer-bottom{
		padding:24px 0;
	}
	.footer-bottom-wrap{
		display:flex;
		flex-flow:column nowrap;
		justify-content:flex-start;
		align-self:flex-start;
	}
	.footer-bottom__col{
		width:100%;
		display:flex;
		flex-flow:column nowrap;
		align-items:flex-start;
		padding:0;
		margin:0 0 32px 0;
	}
	.footer-bottom__col:last-child{
		margin:0;
	}
	.footer-bottom__col a:last-child{
		margin:0; 
	}

}