/********* main *********/
.main-carousel{
	position:relative;
	padding-top:42px;
}
.main-carousel__nav{
	position:absolute;
	left:-20px;
	right:-20px;
	top:170px;
	height:40px;
	z-index:100;
}
.main-carousel__nav .slick-arrow{
	position:absolute;
	width:40px;
	height:40px;
	font-size:0;
	border:none;
	cursor:pointer;
	background-color:#ae8635;
}
.main-carousel__nav .slick-arrow::before{
	content:'';
	position:absolute;
	width:12px;
	height:18px;
	top:11px;
	left:14px;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:0 0;
}
.main-carousel__nav .slick-prev{
	left:0;
}
.main-carousel__nav .slick-next{
	right:0;
}
.main-carousel__nav .slick-prev::before{
	background-image:url("../img/sprite-arr-prev.png");
}
.main-carousel__nav .slick-next::before{
	background-image:url("../img/sprite-arr-next.png");
}
.main-carousel__nav .slick-arrow:hover{
	background-color:#d6991e;
}
.main-carousel__nav .slick-arrow:active{
	background-color:var(--grey);
}
.main-carousel__nav .slick-arrow.slick-disabled{
	background-color:#d7d7d7;
	cursor:default;
}
.main-carousel__nav .slick-arrow.slick-disabled::before{
	background-position:0 -18px;
}

.main-carousel-wrap{
	font-size:0;
}


.main-filter{
	margin-top:32px;
	height:322px;
	display:flex;
	flex-flow:column nowrap;
	justify-content:space-between;
	align-items:center;
	background: transparent url("../img/form-bg.jpg") no-repeat 0 0;
}
.main-filter__title{
	padding-top:30px;
	font-size:44px;
	line-height:44px;
	font-weight:600;
	color:var(--white);
	text-align:center;
}
.main-filter-form-top{
	margin-top:30px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
}
.main-filter__selectwrap{
	position: relative;
	width:367px;
	height:45px;
	background-color:var(--white);
}
.main-filter__select{
	display: block;
	width:100%;
	height:100%;
	padding:6px 74px 6px 20px;
	background:none;
	border:none;
	border-radius:2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: inherit;
	font-size:16px;
	font-style:italic;
	color:#3b3d3d;
	cursor:pointer;
}
.main-filter__selectwrap::before{
	content:'';
	position: absolute;
	pointer-events: none;
	top:6px;
	right:0;
	width:54px;
	height:33px;
	z-index:1;
	border-left:1px solid var(--grey);
	cursor:pointer;
}
.main-filter__selectwrap::after{
	content:'';
	position:absolute;
	pointer-events: none;
	width:12px;
	height:8px;
	top:20px;
	right:21px;
	background:transparent url("../img/sprite-select-arr.png") no-repeat 0 0;
}
.main-filter__selectwrap:hover::before{
	background-position:0 -8px;
}
.main-filter__selectwrap:active::before{
	background-position:0 -16px;
}

.main-filter-form-bottom{
	margin-top:40px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
}
.main-filter-fromprice-wrap{
	position:relative;
	width:297px;
	height:45px;
	margin-right:14px;
}
.main-filter-fromprice-text1{
	position:absolute;
	left:20px;
	top:6px;
	height:33px;
	padding-right:10px;
	border-right:1px solid var(--grey);
	font-size:16px;
	line-height:33px;
	font-style:italic;
	color:#3b3d3d;
}
.main-filter-fromprice-text2{
	position:absolute;
	height:33px;
	left:69px;
	top:6px;
	padding-left:10px;
	font-size:16px;
	line-height:33px;
	font-style:italic;
	color:#3b3d3d;
}
.main-filter-fromprice{
	width:100%;
	height:100%;
	padding:6px 66px 6px 118px;
	font-size:16px;
	line-height:33px;
	font-style:italic;
	color:var(--red);
	border:none;
	border-radius:2px;
	background:var(--white);
}
.main-filter-fromprice-text3{
	position:absolute;
	height:33px;
	top:6px;
	right:18px;
	font-size:16px;
	line-height:33px;
	font-style:italic;
	color:#3b3d3d;
}
.main-filter-toprice-wrap{
	position:relative;
	width:237px;
	height:45px;
	margin-left:14px;
}
.main-filter-toprice-text1{
	position:absolute;
	left:20px;
	top:6px;
	height:33px;
	font-size:16px;
	line-height:33px;
	font-style:italic;
	color:#3b3d3d;
}
.main-filter-toprice{
	width:100%;
	height:100%;
	padding:6px 57px 6px 57px;
	font-size:16px;
	line-height:33px;
	font-style:italic;
	color:var(--red);
	border:none;
	border-radius:2px;
	background:var(--white);
}
.main-filter-toprice-text2{
	position:absolute;
	right:20px;
	top:6px;
	height:33px;
	font-size:16px;
	line-height:33px;
	font-style:italic;
	color:#3b3d3d;
}


.main-news{
	width:1316px;
	margin:0 auto;
	padding:40px 50px;
}
.main-news-titlewrap{
	width:1196px;
	margin:0 auto 20px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:flex-end;
}
.main-news-title{
	font-size:36px;
	line-height:36px;
	font-weight:700;
	color:var(--black);
}
.main-news-link{
	font-size:16px;
	line-height:16px;
	font-weight:400;
	color:var(--red);
}
.main-news-link::after{
	content:'';
	display:inline-block;
	width:15px;
	height:12px;
	background:transparent url("../img/sprite-search_btn.png") no-repeat 0 -12px;
}
.main-news-link:hover{
	color:#df0a13;
}
.main-news-link:active{
	color:var(--grey);
}
.main-news-link:hover::after{
	background-position:0 -36px;
}
.main-news-link:active::after:{
	background-position:0 -24px;	
}
.main-news-carousel{
	position:relative;
}
.main-news-carouselwrap{
	width:1216px;
	margin:0 auto;
}

.main-hits{
	width:1316px;
	margin:0 auto;
	padding:40px 50px;
	background-color:#eeeeee;
}
.main-hits-titlewrap{
	width:1196px;
	margin:0 auto 30px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:flex-end;
}
.main-hits-title{
	font-size:36px;
	line-height:36px;
	font-weight:700;
	color:#3b3d3d;
}
.main-hits-link{
	font-size:16px;
	line-height:16px;
	font-weight:400;
	color:var(--red);
}
.main-hits-link::after{
	content:'';
	display:inline-block;
	width:15px;
	height:12px;
	background:transparent url("../img/sprite-search_btn.png") no-repeat 0 -12px;
}
.main-hits-link:hover{
	color:#df0a13;
}
.main-hits-link:active{
	color:var(--grey);
}
.main-hits-link:hover::after{
	background-position:0 -36px;
}
.main-hits-link:active::after:{
	background-position:0 -24px;	
}
.main-hits-carousel{
	position:relative;
}
.main-hits-carouselwrap{
	width:1216px;
	margin:0 auto;
}

.main-newshits-carousel__nav{
	position:absolute;
	left:-11px;
	right:-11px;
	top:130px;
	height:40px;
	z-index:100;
}
.main-newshits-carousel__nav .slick-arrow{
	position:absolute;
	width:40px;
	height:40px;
	font-size:0;
	border:none;
	cursor:pointer;
	background-color:#898989;
}
.main-newshits-carousel__nav .slick-arrow::before{
	content:'';
	position:absolute;
	width:12px;
	height:18px;
	top:11px;
	left:14px;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:0 0;
}
.main-newshits-carousel__nav .slick-prev{
	left:0;
}
.main-newshits-carousel__nav .slick-next{
	right:0;
}
.main-newshits-carousel__nav .slick-prev::before{
	background-image:url("../img/sprite-arr-prev.png");
}
.main-newshits-carousel__nav .slick-next::before{
	background-image:url("../img/sprite-arr-next.png");
}
.main-newshits-carousel__nav .slick-arrow:hover{
	background-color:#d6991e;
}
.main-newshits-carousel__nav .slick-arrow:active{
	background-color:var(--grey);
}
.main-newshits-carousel__nav .slick-arrow.slick-disabled{
	background-color:#d7d7d7;
	cursor:default;
}
.main-newshits-carousel__nav .slick-arrow.slick-disabled::before{
	background-position:0 -18px;
}

.journal{
	padding:70px 0 78px;
}
.journal__title{
	font-size:44px;
	line-height:44px;
	font-weight:600;
	color:var(--red);
	text-align:center;
}
.journal-wrap{
	padding-top:35px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
}
.journal-btnwrap{
	padding-top:40px;
	text-align:center;
}

