/********* reset *********/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
ul, ol{
	list-style: none;
}
html,
body{
	height:100%;
}
a,
a:hover,
a:focus,
a:active{
	text-decoration:none;
}
input,
input:hover,
input:focus,
input:active{
	font-family:"OpenSans";
	outline:none;
}
textarea,
textarea:hover,
textarea:focus,
textarea:active{
	font-family:"OpenSans";
	outline:none;
}
button,
button:hover,
button:focus,
button:active{
	font-family:"OpenSans";
	outline:none;
}
select,
select:hover,
select:focus,
select:active{
	font-family:"OpenSans";
	outline:none;
}