#app{
	position:relative;
	height:100%;
	min-width:1576px;
	font-family:"Roboto";
}
.wrapper{
	padding-top: 70px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	min-height:100%;
}

.small-btn{
	display: inline-block;
	width: 128px;
	height: 32px;
	border: 1px solid #465168;
	border-radius: 5px;
	text-align:center;
	font-weight:700;
	font-size: 16px;
	line-height: 30px;
	color: #465168;
}
.btn{
	width: 158px;
	height: 36px;
	border: 1px solid #2A325C;
	border-radius: 5px;
	font-weight: 700;
	font-size: 16px;
	line-height: 34px;
	text-align: center;
	color: #2A325C;
	background-color:#fff;
	cursor: pointer;
}
.btn_blue{
	width:130px;
	height:36px;
	background: #55A8FD;
	border-radius: 5px;
	font-weight:700;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	cursor: pointer;
}
.btn:hover,
.btn:active,
.btn:focus{
	border: 1px solid #2A325C;
}

.modal-enter {
	opacity: 0;
}
.modal-leave-active {
	opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
	transform: scale(1.1);
}