.icon_logout{
	width:44px;
	height:36px;
	background:transparent url("~@/assets/img/logout-icon.svg") no-repeat 0 0;
}
.icon_alarms{
	width: 32px;
	height: 25px;
	background:transparent url("~@/assets/img/alarm-icon.svg") no-repeat 0 0;
}
.icon_general{
	width: 27px;
	height: 25px;
	background:transparent url("~@/assets/img/general-icon.svg") no-repeat 1px 0;
	background-size: 25px 25px;
}
.icon_objects{
	width: 27px;
	height: 25px;
	background:transparent url("~@/assets/img/objects-icon.svg") no-repeat 1px 0;
	background-size: 25px 25px;
}
.icon_devices{
	width: 27px;
	height: 27px;
	background:transparent url("~@/assets/img/devices-icon.svg") no-repeat 0 0;
	background-size: 27px 27px;
}
.icon_connection{
	width: 21px;
	height: 18px;
	background:transparent url("~@/assets/img/connection-icon.svg") no-repeat 0 0;
}
.icon_arrow{
	background:transparent url("~@/assets/img/arrow.svg") no-repeat center center;
	background-size:12px 7px;
}
.icon_device{
	background-image:url("~@/assets/img/device-icon.svg");
	background-size:46px 30px;
}
.icon_fav{
	width: 20px;
	height: 19px;
	background:transparent url("~@/assets/img/fav-off-icon.svg") no-repeat 0 0;
}
.icon_fav.icon_fav-on{
	width: 20px;
	height: 19px;
	background:transparent url("~@/assets/img/fav-on-icon.svg") no-repeat 0 0;
}
.icon_arrow-big{
	width: 17px;
	height: 10px;
	background:transparent url("~@/assets/img/arrow-big.svg") no-repeat 0 0;
}
.icon_eye-open{
	width:19px;
	height:20px;
	background:transparent url("~@/assets/img/eye-open-icon.svg") no-repeat 0 0;
}
.icon_eye{
	background:transparent url("~@/assets/img/eye-close-icon.svg") no-repeat center center;
	background-size: 19px 20px;
}
.icon_eye.icon_eye-open{
	background-image:url("~@/assets/img/eye-open-icon.svg");
}
.icon_arrow-big-right{
	width: 10px;
	height: 17px;
	background:transparent url("~@/assets/img/arrow-big-right.svg") no-repeat 0 0;
}
.icon_cross{
	width: 16px;
	height: 16px;
	background:transparent url("~@/assets/img/cross-icon.svg") no-repeat 0 0;
}
.icon_shut-incident{
	background:transparent url("~@/assets/img/shut-incident-icon.svg") no-repeat center center;
	background-size: 38px 37px;
}
.icon_edit{
	width: 21px;
	height: 22px;
	background:transparent url("~@/assets/img/edit-icon.svg") no-repeat 0 0;
}
.icon_edit-info{
	background:transparent url("~@/assets/img/edit-info-icon.svg") no-repeat center center;
	background-size: 37px 36px;
}