*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
ul, ol{
	list-style: none;
}
html,
body{
	height:100%;
}
a,
a:hover,
a:focus,
a:active,
input,
input:hover,
input:focus,
input:active{
	outline:none;
	text-decoration:none;
}
button,
button:hover,
button:focus,
button:active{
	outline:none;
	border:none;
}