.vb > .vb-dragger {
    z-index: 5;
    width: 3px;
    right: 0;
}
.vb::after{
	content:'';
	position: absolute;
	height:100%;
	width:3px;
	top:0;
	right:0;
	z-index:4;
	background-color:#EFEFF6;
}
.vb > .vb-dragger > .vb-dragger-styler {
    backface-visibility: hidden;
    transform: rotate3d(0,0,0,0);
    transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    background-color: #C8C8C8;
    margin: 0;
    border-radius: 2px;
    height: 100%;
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: #C8C8C8;
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: #C8C8C8;
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: #C8C8C8;
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: #C8C8C8;
}