/******************************************************************************
	Accounts Page
******************************************************************************/
.accounts .tablepanel__btn.ml-btn_violet{
	grid-row: 2 / 3;
	grid-column: 1 / 6;
}


.table-accounts .table-head-cell,
.table-accounts .table-cell{
	text-align: right;
}
.table-accounts .table-head-cell_check,
.table-accounts .table-cell_check,
.table-accounts .table-head-cell_name,
.table-accounts .table-cell_name{
	text-align: left;
}




.add-accounts-2fa{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.add-accounts-2fa label{
	margin-left: 12px;

	font-size: 14px;
	line-height: 20px;
	color: var(--white25);
}


.add-2fa-accounts__img{

	width: 100%;

	border-radius: 18px;

	overflow: hidden;
}
.add-2fa-accounts__img img{
	display: block;

	max-width: 100%;
	object-fit: cover;
}

.add-2fa-accounts-list{
	list-style: none;
}
.add-2fa-accounts-list li{
	margin-bottom: 20px;
	
	font-size: 16px;
	line-height: 20px;
	color: var(--white85);
}
.add-2fa-accounts-list li:last-child{
	margin-bottom: 0;
}
.add-2fa-accounts-list li::marker{
	display: inline-block;
}



.add-accounts-prices .select-item__title::after{
	content: ' Accounts';
}


.add-accounts-my-proxy{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.add-accounts-my-proxy span{
	margin-left: 8px;

	color: var(--white70);
}
.add-accounts-proxy-box{
	margin-top: 12px;
}
.add-accounts-proxy-select{
	margin-top: 20px;
}




@media (max-width: 1566px) {
	.accounts .tablepanel__btn.ml-btn_violet{
		grid-column: 1 / 4;
	}
}



@media (max-width: 1199px) {
	.add-accounts-prices .select-item__title::after{
		content: '';

		display: inline-block;
		
		width: 14px;
		height: 14px;

		margin-left: 3px;

		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
	}
}