/******************************************************************************
	Affiliate
******************************************************************************/
.affiliate{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;

	min-height: 100%;
}
.affiliate .ml-box-body__icon{
	height: 19px;
	width: 24px;
}

.affiliate-invite{
	align-items: end;

	margin-top: 38px;
}
.ml-btn.affiliate-invite__btn{
	height: 44px;
}

.affiliate-table-wrap{
	flex-grow: 1;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
}
.table-affiliate .table-head-cell_amount,
.table-affiliate .table-cell_amount{
	text-align: right;
}

.affiliate-table-empty{
	flex-grow: 1;

	margin-top: 28px;

	font-size: 20px;
	line-height: 1;

	color: var(--white25);
	text-align: center;
}

.affiliate-table-footer-wrap{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	margin-top: 28px;
}

.affiliate-total{
	font-size: 16px;
	line-height: 20px;

	color: var(--white50);
	opacity: 0.65;
}
.affiliate-total__val{
	color: var(--white25);
}

.affiliate-footer{
	margin-top: 38px;

	font-size: 16px;
	line-height: 20px;
	color: var(--white30);

	text-align: center;
}






@media (max-width: 1199px) {
	.affiliate{
		display: block;

		min-height: auto;
	}


	.affiliate-header{
		margin: 20px 0;
	}

	.affiliate-invite.ml-grid-row{
		align-items: stretch;
		gap: 12px;

		margin-top: 20px;
	}
	.ml-btn.affiliate-invite__btn{
		height: 44px;
	}



	.affiliate-table-wrap{
		display: block;
	}
	.affiliate-table-empty{
		margin-top: 10px;

		font-size: 14px;
	}
	.table.table-affiliate{
		margin: 20px 0 0;
	}
	.table-affiliate .table-cell{
		white-space: wrap;
	}




	.affiliate-table-footer-wrap{
		flex-flow: column nowrap;
		justify-content: flex-start;
		gap: 14px;

		margin-top: 16px;
	}

	.affiliate-total{
		font-size: 14px;
		line-height: 16px;
	}

	.affiliate-footer{
		margin-top: 20px;

		text-align: justify;
		
		font-size: 14px;
	}
}