/******************************************************************************
	Api Message
******************************************************************************/
.api-msg{
	position: fixed;

	bottom: 20px;
	right: 20px;

	width: 342px;

	padding: 28px var(--padding-side) 28px var(--padding-side);

	border-radius: 18px;
	border: 1px solid rgba(42, 41, 40, 0.35);
	background: var(--bg_block2);

	z-index: 150;

	transform: translateY(calc(100% + 40px));

	will-change: transform;
	transition: transform var(--anim_time) var(--anim_func);
}
.api-msg.js-show{
	transform: translateY(0);
}
.api-msg__close{
	position: absolute;

	top: 10px;
	right: 10px;
	width: 38px;
	height: 38px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 14px 14px;

	cursor: pointer;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.api-msg-header{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;	
}
.api-msg__icon{
	flex: 0 0 auto;

	display: inline-block;
	width: 22px;
	height: 24px;

	margin-right: 1ch;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 1px;
}
.api-msg__title{
	flex: 0 1 auto;

	font-weight: 500;
	font-size: 22px;
	line-height: 24px;

	color: var(--white85);
}
.api-msg__title::first-letter{
	text-transform: uppercase;
}

.api-msg__text{
	display: block;
	
	margin-top: 18px;

	font-size: 14px;
	line-height: 22px;

	color: rgba(255, 255, 255, 0.55);

	display: -webkit-box;
	-webkit-box-orient: vertical; 
	line-clamp: 3;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.api-msg__btn{
	margin-top: 18px;
}





@media (max-width: 1199px) {
	.api-msg{
		left: 20px;

		width: auto;

	}
	/*.api-msg__text{
		display: none;
	}
	.api-msg__btn{
		display: none;
	}*/
}