/******************************************************************************
	Cpanel
******************************************************************************/
.cpanel{
	position: fixed;

	bottom: 0;
	left: 243px;

	width: 342px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 10px;

	padding: 28px 28px 18px;

	border-radius: 18px 18px 0 0;
	border: 1px solid rgba(42, 41, 40, 0.35);
	background: var(--bg_block2);

	z-index: 140;
}






/*** Switcher ***/
.switcher{
	position: relative;

	width: 100%;

	border-radius: 14px;

	background: var(--btn);

	overflow: hidden;
	
	will-change: border-color;
	transition: border-color var(--anim_func) var(--anim_time);

	z-index: 50;
}
.switcher.js-open{
	box-shadow: 0 2px 5px 0 rgba(16, 24, 40, 0.25);
	z-index: 60;
}
.switcher-head{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: var(--sel_height);

	background-color: transparent;

	overflow: hidden;
}
.switcher-head__title{
	padding: 0 10px 0 22px;

	font-weight: 500;
	font-size: 16px;
	line-height: 16px;

	color: var(--white85);
}


.switcher-head__btn{
	flex: 0 0 auto;

	width: 64px;
	height: var(--sel_height);

	font-weight: 500;
	font-size: 16px;
	line-height: var(--sel_height);

	color: var(--white85);

	background-color: var(--double_btn);
	background-repeat: no-repeat;
	background-position: center center;
	
	border-radius: 0;
	border: none;
	outline: none;

	overflow: hidden;

	user-select: none;
	cursor: pointer;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;

	will-change: background-color;
	transition: background-color var(--anim_func) var(--anim_time);
}
.switcher-head__btn:hover{
	background-color: var(--double_btn_hover);
}
.switcher-head__btn:active{
	background-color: var(--violet);
}

.switcher.js-open .switcher-head__btn{
	background-color: var(--violet);
}
.switcher.js-open .switcher-head__btn:hover{
	background-color: var(--violet_hover);
}
.switcher.js-open .switcher-head__btn:active{
	background-color: var(--violet_active);
}


.switcher-list{
	overflow: hidden;

	will-change: height;
	transition: height var(--anim_time) var(--anim_func);
}

.switcher-list__item{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: var(--sel_height);

	padding: 0 28px 0 22px;

	background-color: transparent;

	font-weight: 500;
	font-size: 16px;
	line-height: 16px;

	color: var(--white85);
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	cursor: pointer;

	overflow: hidden;

	will-change: background-color;
	transition: background-color var(--anim_time) var(--anim_func);

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
.switcher-list__item.js-active{
	pointer-events: none;
}
.switcher-list__item:last-child{
	margin-bottom: 0;
}
.switcher-list__item:hover{
	background-color: var(--btn_hover);
}
.switcher-list__item::after{
	content: '';

	flex: 0 0 auto;
	display: inline-block;
	
	width: 9px;
	height: 9px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	opacity: 0;

	will-change: opacity;
	transition: opacity var(--anim_time) var(--anim_func);
}
.switcher-list__item.js-active::after{
	opacity: 1;
}




.cpanel-form-box{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 8px;
}

.delete-account__label{
	padding-bottom: 8px;

	text-align: center;

	font-size: 16px;
	color: var(--white50)
}






@media (max-width: 1199px) {
	.cpanel{
		top: 58px;
		bottom: 0;
		left: 0;
		width: 100%;

		padding: 20px var(--padding-side);
		
		border-radius: 0;
		border: none;

		background: var(--bg);

		z-index: 210;
	}




	.switcher{
		box-sizing: content-box;

		border: 1px solid transparent;
	}
	.switcher.js-open{
		border-color: var(--border_color);
	}
}