/******************************************************************************
	Elements
******************************************************************************/

.underline{
	text-decoration: underline;
	transition: text-decoration-color linear 0.1s;
}
.underline:hover{
	text-decoration-color: transparent;
}



.gradient-mask{
	display: inline-block;
	
	background: linear-gradient(126deg, #B341C6 33%, #3F21F5 75%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



.gradient-underline{
	position: relative;

	display: inline-block;
}
.gradient-underline::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;

	background: linear-gradient(90deg, #B341C6 0%, #3F21F5 100%);
}



.gradient-link{
	position: relative;
	
	display: block;
	text-decoration: none;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;

	transition: color var(--anim_func) var(--anim_time);

	z-index: 10;
}

.gradient-link::after{
	content: attr(data-text);
	
	position: absolute;
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: transparent;
	background-image: linear-gradient(103deg, #B341C6 0%, #3F21F5 110%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;

	opacity: 0;

	transition: opacity var(--anim_func) var(--anim_time);
}

.gradient-link:hover{
	color: rgba(255, 255, 255, 0);
}
.gradient-link:hover::after{
	opacity: 1;
}

.gradient-link:active{
	color: var(--violet) !important;
}
.gradient-link:active::after{
	opacity: 0;
}




.gradient-logo{
	position: relative;

	background-color: transparent;
	background-image: var(--gradient);
	background-repeat: no-repeat;
	background-position: 0 0;

	z-index: 10;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
.gradient-logo::after{
	content: '';

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;

	z-index: 15;

	pointer-events: none;

	transition: background-color var(--anim_func) var(--anim_time);
}
.gradient-logo:hover::after{
	background-color: transparent;
	
}
.gradient-logo:active::after{
	background-color: var(--violet);
}


.gradient-transparent-logo{
	position: relative;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	z-index: 10;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
.gradient-transparent-logo::before{
	content: '';

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	pointer-events: none;

	z-index: 11;

	opacity: 1;

	will-change: opacity;
	transition: opacity var(--anim_time) var(--anim_func);
}
.gradient-transparent-logo::after{
	content: '';

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	pointer-events: none;

	z-index: 12;

	opacity: 0;

	will-change: opacity;
	transition: opacity var(--anim_time) var(--anim_func);
}

.gradient-transparent-logo:hover::before{
	opacity: 0;
}

.gradient-transparent-logo:active::before{
	opacity: 0;
}
.gradient-transparent-logo:active::after{
	opacity: 1;
}



/******************************************************************************
	Adaptive
******************************************************************************/

@media (max-width: 1023px) {
	.underline:hover{
		text-decoration-color: initial;
	}


	.gradient-link::after{
		display: none;
	}
	.gradient-link:hover{
		color: rgba(255, 255, 255, 1);
	}

	

	.gradient-logo:hover::after{
		background-color: #fff;
		
	}
	.gradient-logo:active::after{
		background-color: var(--violet);
	}

	.gradient-transparent-logo{
		background-image: none;
	}
	.gradient-transparent-logo:hover::before{
		opacity: 1;
	}

	.gradient-transparent-logo:active::before{
		opacity: 0;
	}
	.gradient-transparent-logo:active::after{
		opacity: 1;
	}
}