/******************************************************************************
	Footer
******************************************************************************/
.footer{
	position: relative;
	
	margin-top: -40px;
	padding-top: 40px;
	padding-bottom: 46px;	
	
	background: #fff;

	z-index: 3;
}
.footer-wrap{
	padding-top: 85px;
}

.footer__logo{
	display: block;
	width: 202px;
	height: 40px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}
.footer-logo__text{
	width: 309px;

	margin-top: 33px;

	font-size: 18px;
	line-height: 140%;
	letter-spacing: 0.54px;
	color: rgba(0, 0, 0, 0.50);
}

.footer-bottom{
	margin-top: 137px;

	font-size: 12px;
	line-height: 140%;
	letter-spacing: 0.36px;
	color: rgba(0, 0, 0, 0.50);
}

.footer-box{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-col{
	flex: 0 0 auto;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;

	min-width: 150px;
}
.footer-col__title{
	margin-bottom: 30px;

	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #000;
}
.footer__link{
	margin-bottom: 20px;
	
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.24px;
	text-transform: uppercase;

	color: rgba(0, 0, 0, 0.50);

	transition: color var(--anim_func) var(--anim_time);
}
.footer__link:last-child{
	margin-bottom: 0;
}
.footer__link_icon{
	position: relative;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	padding-left: 22px;

	cursor: default;
}
.footer__link_icon::before,
.footer__link_icon::after{
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
		
	width: 16px;
	height: 16px;
	
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	transition: opacity var(--anim_func) var(--anim_time);
}
.footer__link_icon::before{
	opacity: 0;
}
.footer__link_icon::after{
	opacity: 0.5;
}
.footer__link:hover{
	color: rgba(0, 0, 0, 1);
}
.footer__link_icon:hover::before{
	opacity: 1;
}
.footer__link_icon:hover::after{
	opacity: 0;
}



.footer__btn{
	position: relative;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: var(--btn_height);
	
	margin-top: 20px;

	padding: 0 22px;

	border-radius: 24px;
	background: #FFF;
	box-shadow: 0 4px 6px 0 rgba(16, 24, 40, 0.03), 0 12px 16px 0 rgba(16, 24, 40, 0.08);

	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	color: rgba(0, 0, 0, 0.50);

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;

	transition: color var(--anim_func) var(--anim_time);	
}
.footer__btn::before{
	content: '';
	
	position: absolute;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	border-radius: 24px;

	background: rgba(0, 0, 0, 0.25);

	overflow: hidden;

	opacity: 0;

	z-index: 1;

	transition: opacity var(--anim_func) var(--anim_time);
}
.footer__btn.icon-discord svg{
	display: block;

	width: 22px;
	height: 16px;

	margin-right: 10px;
}
.footer__btn.icon-telegram svg{
	display: block;

	width: 26px;
	height: 14px;

	margin-right: 10px;
}
.footer__btn svg path{
	transition: fill var(--anim_func) var(--anim_time);	
}
.footer__btn .semibold{
	color: #000;

	transition: color var(--anim_func) var(--anim_time);	
}

.footer__btn:hover,
.footer__btn:hover .semibold{
	color: var(--violet);
}
.footer__btn:hover svg path{
	fill: var(--violet);
}
.footer__btn:active::before{
	opacity: 1;
}

.footer__btn:first-child{
	margin-top: 0;
}

.footer-social-desc{
	width: 283px;

	margin: 20px auto 0;

	font-size: 12px;
	line-height: 140%;
	letter-spacing: 0.36px;
	color: rgba(0, 0, 0, 0.50);
}





/******************************************************************************
	Adaptive
******************************************************************************/

@media (max-width: 1566px) {
	.footer{
		margin-top: -50px;

		padding-top: 50px;
		padding-bottom: 55px;	
	}
	

	.footer-logo__text{
		width: 100%;

		font-size: 18px;
	}
	.footer-logo__text br{
		display: none;
	}

	.footer-bottom{
		margin-top: 60px;
	}

	.footer-box{
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-areas:
			"col col col"
			"col4 col4 col4";
		grid-gap: 30px;
	}
	.footer-col{
		min-width: auto;
	}
	.footer-col:last-child{
		grid-area: col4;

		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-areas:
			"btn1 desc desc"
			"btn2 desc desc";
		grid-gap: 20px 30px;
	}

	.footer__btn{
		padding: 0;
		margin-top: 0;
	}
	.footer__btn:nth-child(1){
		grid-area: btn1;
		
		width: 207px;
	}
	.footer__btn:nth-child(2){
		grid-area: btn2;
		
		width: 207px;
	}
	.footer-social-desc{
		grid-area: desc;
		
		width: 100%;

		margin: 0;
	}
	.footer-social-desc br{
		display: none;
	}
}




@media (max-width: 767px) {
	.footer-wrap{
		padding-top: 74px;
	}
	.footer-logo__text{
		width: 100%;

		font-size: 18px;
	}
	.footer-logo__text br{
		display: none;
	}

	.footer-box{
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
		
		grid-gap: 0 30px;
	}
	.footer-col{
		min-width: auto;
	}
	.footer-col:first-child{
		width: 100%;

		margin-bottom: 72px;
	}
	.footer-col:nth-child(2){
		width: 50%;
	}
	.footer-col:last-child{
		width: 100%;

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;

		margin-top: 30px;
	}
	.footer-social-desc{
		margin: 10px 0 0;
	}


	.footer__btn:hover{
		color: rgba(0, 0, 0, 0.50);
	}
	.footer__btn:hover .semibold{
		color: #000;
	}
	.footer__btn.icon-discord:hover svg path{
		fill: #636FE9;
	}
	.footer__btn.icon-telegram:hover svg path{
		fill: #5BA7DD;
	}
}