/******************************************************************************
	Graph fo customer dashboard
******************************************************************************/
.ml-graph .graph{
	position: absolute;
	
	width: 100%;
	height: 100%;

	padding-top: 48px;

	overflow: hidden;
}
.graph-wrap{
	height: 100%;
}
.graph-total{
	position: absolute;
	width: 100%;
	left: 0;
	top: 32px;

	/* padding: 5px 68px 0 48px; */
	padding: 5px 78px 0 48px;

	font-size: 16px;
	line-height: 16px;

	color: rgb(128, 128, 128);

	text-align: right;
}
.graph-total__data{
	color: rgb(128, 128, 128);
}


.graph-container{
	position: relative;

	width: 100%;
	height: 100%;

	overflow: hidden;
}


@media (max-width: 1199px) {
	.ml-right.ml-right-graph{
		grid-template-rows: auto 1fr;
	}

	.ml-graph .graph{
		position: relative;

		height: 100%;
		max-height: 100%;

		padding-top: 0;
	}

	.graph-container{
		height: 216px;
	}


	.graph-total{
		top: 0;

		padding: 0 10px;

		font-size: 12px;
		line-height: 12px;
	}
}