/******************************************************************************
	Landing
******************************************************************************/

@media (min-width: 1920px) {
/*** Global ***/
	html.landing{
		font-size: 1px;
	}
}

/*** Header ***/
.l-header{
	height: 140px;
	width: 100%;
	top: 0;
	left: 0;

	z-index: 50;
}
.l-header-wrap{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 100%;
}
.l-header__logo{
	display: block;
	
	width: 51px;
	height: 54px;
}
.l-header__singin{
	font-weight: 500;
	font-size: 30px;
	line-height: 38px;
	color: #FFF;
}



/*** Screen1 ***/
.screen1{
	position: relative;

	margin-top: -140px;

	padding-top: 140px;

	overflow: hidden;
}
.screen1::before{
	content: '';
	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;

	z-index: -20;

	background: transparent url('@/assets/img/landing/screen1-bg.webp') no-repeat 100% -26rem;
	background-size: contain;
}

.screen1-imgwrap{
	position: relative;
}
.screen1__robux-down{
	position: absolute;

	width: 1654rem;
	height: 760rem;
	top: 70rem;
	left: 50%;

	margin-left: -827rem;

	background: transparent url('@/assets/img/landing/robux_down.webp') no-repeat 50% 50%;
	background-size: contain;

	z-index: -10;

	transform-origin: top center;
	animation: boxAnimation 3s ease-in-out infinite;
}
.screen1__robux-up{
	position: absolute;

	width: 1803rem;
	height: 605rem;
	top: -135rem;
	left: 50%;

	margin-left: -902rem;

	background: transparent url('@/assets/img/landing/robux_up.webp') no-repeat 50% 50%;
	background-size: contain;

	z-index: 30;

	transform-origin: top center;
	animation: boxAnimationRevert 3s ease-in-out infinite;
}

@keyframes boxAnimation{
	50% {transform:scale(0.95);}
}
@keyframes boxAnimationRevert{
	50% {transform:scale(0.9);}
}

.screen1__text{
	position: relative;
	
	width: 1173rem;
	height: 162rem;

	margin: 107rem auto 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	z-index: 10;
}

.screen1__gamepad{
	position: relative;

	width: 1217rem;
	height: 493rem;

	margin: -35rem auto 0;

	background: transparent url('@/assets/img/landing/gamepad.webp') no-repeat 50% 50%;
	background-size: contain;

	z-index: 20;
}


.screen1-service{
	position: relative;

	margin-top: 340rem;
	padding-bottom: 152px;

	z-index: 40;
}
.screen1-service__title{
	font-weight: 500;
	font-size: 64px;
	line-height: 1;
	
	color: #FFF;

	text-align: center;
}
.screen1-service-list{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	margin: 54px auto 0;
}
.screen1-service-list__btn{
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	
	height: 60px;
	padding: 0 50px;

	margin-right: 20px;

	border-radius: 20px;
	background: #101010;


	color: #FFF;

	font-weight: 400;
	font-size: 32px;
}
.screen1-service-list__btn::before{
	content: '';

	display: block;
	width: 25px;
	height: 24px;

	margin-right: 10px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.screen1-service-list__btn:last-child{
	margin-right: 0;
}



/*** Labels ***/
.labels{
	position: relative;

	padding-top: 80px;
	padding-bottom: 148px;
}
/*.labels::before{
	content: '';

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent url('@/assets/img/landing/labels-bg.svg') no-repeat 50% 0;
	background-size: cover;

	z-index: -50;
}*/
.labels-grid{
	position: relative;
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: end;

	grid-gap: 40px 47px;

	padding-top: 169px;
}
.labels-grid::before{
	content: '';

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: transparent radial-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%) no-repeat 50% 50%;

	opacity: 0.1;
}
.labels-grid-title{
	position: absolute;

	top: 108px;
	left: 0;
}
.labels-grid-title__text,
.labels-grid-title__text h1{
	font-weight: 600;
	font-size: 113px;
}
.labels-grid-item{
	padding: 40px;

	border-radius: 30px;
	border: 2px solid var(--border_color);
	background: linear-gradient(134deg, #161616 -36%, #090909 100%);
}

.labels-tag{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	color: #A295F6;

	font-size: 22px;
	font-weight: 400;
}
.labels-tag::before{
	content: '';

	display: inline-block;
	width: 22px;
	height: 22px;

	margin-right: 7px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.labels-tag_big{
	margin-top: 26px;

	font-size: 36px;
}
.labels-tag_big::before{
	width: 36px;
	height: 36px;
}

.label-offers{
	margin-bottom: 109px;
}
.label-offers__text{
	margin-top: 27px;

	font-weight: 500;
	font-size: 50px;
	color: #FFF;
}
.label-offers__img{
	display: block;
	
	width: 100%;
	height: auto;

	margin-top: 100px;
}

.label-service{
	position: relative;
	padding: 53px 51px;
	margin-bottom: 40px;
}
.label-service .labels-tag{
	position: absolute;
	
	top: 40px;
	left: 40px;
}
.label-service__img{
	display: block;
	
	width: 100%;
	height: auto;
}

.label-reliable__text{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	margin-top: 28px;

	font-weight: 500;
	font-size: 50px;
	line-height: 1;
	color: #FFF;
}
.label-reliable__text::after{
	content: '';

	display: inline-block;
	width: 48px;
	height: 35px;

	margin-left: 14px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: contain;
}
.label-reliable__desc{
	margin-top: 13px;
	
	font-size: 18px;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.5);
}

.label-process{
	margin-bottom: 40px;
}
.labels-process__text{
	margin-top: 48px;

	font-weight: 500;
	font-size: 50px;	
	line-height: 1;
	color: #FFF;
}
.labels-process__desc{
	margin-top: 33px;

	font-size: 18px;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.5);
}

.label-stats{
	margin-bottom: 88px;
}
.labels-stats__text{
	margin-top: 38px;

	font-weight: 500;
	font-size: 32px;
	color: #fff;

	text-align: center;
}
.labels-stats__img{
	display: block;
	
	width: 100%;
	height: auto;

	margin-top: 39px;
}
.labels-stats__desc{
	margin-top: 39px;
	
	font-size: 18px;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.5);

	text-align: center;
}



.labels-flex{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;

	grid-gap: 40px 47px;
}
.labels-flex-item{
	position: relative;

	min-height: 436px;

	margin-top: 570px;
	padding: 40px 40px 37px;

	border-radius: 30px;
	border: 2px solid var(--border_color);
	background: linear-gradient(134deg, #161616 -36%, #090909 100%);
}
.labels-flex-item::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 215px;
	top: -185px;
	left: 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: contain;
}
.labels-flex-item::before{
	content: '';
	position: absolute;
	width: 6px;
	left: 50%;

	margin-left: -3px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: 100% 100%;
}
.labels-flex-item__spacer{
	position: absolute;

	bottom: 38px;
	left: 62px;
	right: 62px;
	height: 1px;

	opacity: 0.1;

	background: transparent radial-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%) no-repeat 50% 50%;
}
.labels-flex-item__icon{
	display: block;
	width: 31px;
	height: 31px;
	margin: 37px 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.labels-flex-item__desc{
	font-size: 18px;
	line-height: 120%;
	color: rgba(255, 2555, 255, 0.5);
}
.labels-flex-item.labels-flex-item_01{
	margin-top: 570px;
}
.labels-flex-item.labels-flex-item_01::before{
	top: -570px;
	height: 296px;
}
.labels-flex-item.labels-flex-item_02{
	margin-top: 713px;
}
.labels-flex-item.labels-flex-item_02::before{
	top: -623px;
	height: 377px;
}
.labels-flex-item.labels-flex-item_03{
	margin-top: 536px;
}
.labels-flex-item.labels-flex-item_03::before{
	top: -536px;
	height: 296px;
}
.labels-flex-item__text{
	font-weight: 600;
	font-size: 50px;
	line-height: 110%;
	color: #FFF;
}
.labels-flex-item__text a,
.labels-flex-item__text  .gradient-text{
	display: inline-block;

	background: linear-gradient(102deg, #B341C6 -40%, #3F21F5 84%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.labels-flex-item__text a{
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: #fff;
	text-decoration-thickness: 2px;

	transition: text-decoration-color linear var(--anim_time);
}
.labels-flex-item__text a:hover{
	text-decoration-color: transparent;
}
.labels-flex-item__text .icon-robux{
	background: linear-gradient(85deg, #B341C6 -38%, #6b35de 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.labels-flex-item__text .icon-robux::after{
	content: '';
	display: inline-block;
	width: 29px;
	height: 32px;

	margin-left: 11px;
	transform: translateY(2px);

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.labels-flex-item__text-box{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-end;
}
.labels-flex-item__text-box span{
	transform: translateX(-72px);
}


/*** Trouble ***/
.trouble{
	position: relative;
	
	padding: 158px 0;
}
.trouble::before{
	content: '';

	position: absolute;
	top: 0;
	left: 50%;
	width: 1568px;
	height: 1px;

	margin-left: -784px;

	background: transparent radial-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%) no-repeat 50% 50%;

	opacity: 0.1;
}
.trouble::after{
	content: '';

	position: absolute;
	bottom: 0;
	left: 50%;
	width: 1568px;
	height: 1px;
	background: transparent radial-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%) no-repeat 50% 50%;

	margin-left: -784px;

	opacity: 0.1;
}

.trouble-box{
	position: relative;
	
	width: 100%;
	
	padding: 103px 0 118px;

	border-radius: 50px;
	background: linear-gradient(108deg, #B341C6 -62%, #3F21F5 122%);

	overflow: hidden;
}
.trouble-box::after{
	content: '';
	position: absolute;
	width: 954rem;
	height: 428rem;
	bottom: 0;
	right: 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: cover;
}
.trouble-wrapper{
	position: relative;
}
.trouble-wrapper::before{
	content: '';
	position: absolute;
	width: 66px;
	height: 71px;
	top: 46px;
	right: 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}


.trouble__title{
	font-weight: 700;
	font-size: 153px;
	line-height: 110%;
	color: #FFF;
}
.trouble-footer{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;

	margin-top: -20px;
}
.trouble__desc{
	font-size: 32px;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.7);
}
.trouble-btnwrap{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}


.trouble__btn{
	position: relative;
	flex: 0 0 auto;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	width: 440px;
	height: 84px;
	
	border-radius: 30px;
	border: 2px solid transparent;

	background: #FFF;
	box-shadow: 0 4px 6px 0 rgba(16, 24, 40, 0.03), 0 12px 16px 0 rgba(16, 24, 40, 0.08);

	color: rgba(0, 0, 0, 0.95);
	
	font-weight: 500;
	font-size: 26px;
	line-height: 1;

	z-index: 10;

	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	-webkit-user-select: none;

	transition: all var(--anim_time) var(--anim_func);
}
.trouble__btn:last-child{
	margin-top: 38px;
}
.trouble__btn.icon-info svg{
	width: 30px;
	height: 30px;
}
.trouble__btn.icon-discord svg{
	width: 37px;
	height: 27px;
}
.trouble__btn svg{
	margin-right: 18px;
}
.trouble__btn svg path{
	transition: all var(--anim_time) var(--anim_func);
}

.trouble__btn:hover{
	color: var(--violet);

	border-color: var(--violet);
}
.trouble__btn.icon-info:hover svg path{
	stroke: var(--violet) !important;
}
.trouble__btn.icon-discord:hover svg path{
	fill: var(--violet) !important;
}
.trouble__btn:active{
	color: #fff;

	border-color: var(--violet);

	background-color: var(--violet);

	box-shadow: none;
}
.trouble__btn.icon-info:active svg path{
	stroke: #FFFFFF !important;
}
.trouble__btn.icon-discord:active svg path{
	fill: #FFFFFF !important;
}



/*** Marquee ***/
.marquee{
	position: relative;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	
	width: 100%;

	padding: 98px 0 78px;

	background: var(--bg);

	border-radius: 40px;

	overflow: hidden;

	z-index: 4;
}
.marquee-box{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	will-change: transform;

	animation: marquee 8s infinite linear;
}
@keyframes marquee{
	0% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(-1250px)
	}
}
.marquee-item{
	position: relative;

	flex: 0 0 auto;

	display: block;
	
	width: 585px;
	height: 115px;

	margin-right: 40px;
}
.marquee-item svg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: 4;
}
.marquee-item svg line{
	transition: stroke var(--anim_func) var(--anim_time);
}
.marquee-item::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	opacity: 1;
	z-index: 5;

	transition: opacity var(--anim_func) var(--anim_time);
}
.marquee-item:hover::before{
	opacity: 0;
}
.marquee-item:hover svg line{
	stroke: var(--violet);
}



/******************************************************************************
	Adaptive
******************************************************************************/

@media (max-width: 1566px) {

	/*** Screen1 ***/
	.screen1-service{
		margin-top: 200rem;
		
		padding-bottom: 70px;
	}
	.screen1-service-list{
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;

		width: 100%;
		max-width: 700px;

		margin: 44px auto 0;
	}
	.screen1-service-list__btn{
		margin: 10px;
	}
	.screen1-service-list__btn:last-child{
		margin: 10px;
	}


	/*** Labels ***/
	.labels{
		position: relative;

		padding-top: 90px;
		padding-bottom: 148px;
	}
	.labels-grid{
		display: block;

		max-width: 960px;

		padding-top: 0;
	}
	.labels-grid::before{
		display: none;
	}
	.labels-grid-title{
		position: static;

		margin-bottom: 88px;
	}
	.labels-grid-title__text,
	.labels-grid-title__text h1{
		font-weight: 600;
		font-size: 113px;
	}
	/* .labels-grid-title__text br{
		display: none;
	} */
	.labels-grid-item{
		padding: 40px;

		border-radius: 30px;
		border: 2px solid var(--border_color);
		background: linear-gradient(134deg, #161616 -36%, #090909 100%);
	}

	.label-offers{
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		
		margin-bottom: 40px;
	}
	.label-offers__text{
		margin-top: 27px;

		font-size: 72px;
	}
	.label-offers__img{
		align-self: flex-end;

		margin-top: 44px;

		width: 390px;
	}

	.label-service{
		padding: 36px 40px 45px;
		margin-bottom: 40px;
	}
	.label-service__img{
		width: 366px;

		margin: 0 auto;
	}
	.label-service .labels-tag{
		left: 32px;
	}

	.label-reliable{
		margin-bottom: 40px;
	}
	.label-reliable__text{
		font-size: 72px;
	}
	.label-reliable__text::after{
		width: 65px;
		height: 45px;
	}
	.label-reliable__desc{
		font-size: 24px;
	}

	.label-process{
		margin-bottom: 40px;
	}
	.labels-process__text{
		margin-top: 36px;

		font-size: 72px;	
	}
	.labels-process__desc{
		margin-top: 15px;

		font-size: 24px;
	}

	.label-stats{
		margin-bottom: 0;
	}
	.labels-stats__text{
		margin-top: 42px;

		font-size: 42px;
	}
	.labels-stats__img{
		width: 488px;

		margin: 40px auto 0;
	}
	.labels-stats__desc{
		margin-top: 40px;
		
		font-size: 24px;
	}
	.labels-stats__desc br{
		display: none;
	}



	.labels-flex{
		display: block;

		max-width: 960px;
	}
	
	.labels-flex-item,
	.labels-flex-item.labels-flex-item_01,
	.labels-flex-item.labels-flex-item_02,
	.labels-flex-item.labels-flex-item_03{
		min-height: auto;
		
		margin-top: 370px;
		padding: 42px 46px 50px;
	}

	.labels-flex-item::after{
		height: 213px;
		width: 100%;
		top: -160px;
		left: 0;
		
		margin-left: 0;

		background-size: contain;
		background-position: 50% 0;
	}

	.labels-flex-item__spacer{
		position: static;
		margin-top: 60px;
	}

	.labels-flex-item::before,
	.labels-flex-item.labels-flex-item_01::before,
	.labels-flex-item.labels-flex-item_02::before,
	.labels-flex-item.labels-flex-item_03::before{
		top: -315px;
		height: 92px;
	}

	.labels-flex-item__text{
		font-size: 72px;
	}
	.labels-flex-item__text .icon-robux::after{
		width: 45px;
		height: 50px;

		margin-left: 14px;

		transform: translateY(4px);
	}

	.labels-flex-item__text br{
		display: none;
	}

	.labels-flex-item__text-box{
		display: contents;
	}
	.labels-flex-item__text-box span{
		transform: none;
	}



	/*** Trouble ***/
	.trouble{
		padding: 137px 0;
	}
	.trouble::before{
		width: 80%;

		margin-left: -40%;
	}
	.trouble::after{
		width: 80%;

		margin-left: -40%;
	}

	.trouble-box{
		padding: 60px 0 94px;
	}
	.trouble-wrapper{
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.trouble-wrapper::before{
		position: static;
		display: block;
		
		width: 110px;
		height: 120px;

		margin-top: 65px;

		order: 1;
	}
	.trouble-box::after{
		width: 80vw;
		height: 38.44vw;

		bottom: 0;
		right: 50%;

		transform: translateX(50%);
		background-size: contain;
	}


	.trouble__title{
		font-size: 110px;
	}
	.trouble__title br{
		display: none;
	}
	.trouble-footer{
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;

		width: 100%;

		margin-top: 65px;
		order: 2;
	}
	.trouble__desc{
		font-size: 32px;
	}
	.trouble__desc br{
		display: none;
	}
	.trouble-btnwrap{
		justify-content: flex-start;
		align-items: center;

		margin-top: 93px;
	}
	
	.trouble__btn:last-child{
		margin-top: 38px;
	}

	/*** Marquee ***/
	.marquee{
		padding-top: 122px;
		padding-bottom: 100px;

		border-radius: 50px;
	}
	.marquee-box{
		animation: marquee_tablet 8s infinite linear;
	}
	@keyframes marquee_tablet{
		0% {
			transform: translateX(0)
		}
		100% {
			transform: translateX(-952px)
		}
	}
	.marquee-item{
		width: 436px;
		height: 86px;
	}
}



@media (max-width: 1199px) {

	/*** Global ***/
	html.landing{
		font-size: calc(100vw / 1920);
	}
}



@media (max-width: 767px) {

	/*** Global ***/
	html.landing{
		font-size: calc(100vw / 393);
	}


	/*** Header ***/
	.l-header{
		height: 96px;
	}
	.l-header__logo{
		width: 35px;
		height: 37px;
	}
	.l-header__singin{
		font-size: 22px;
	}



	/*** Screen1 ***/
	.screen1{
		margin-top: -96px;
		padding-top: 96px;
	}
	.screen1::before{
		background: transparent url('@/assets/img/landing/screen1-bg-mob.png') no-repeat 100% 0;
		mix-blend-mode: color-dodge;
	}
	.screen1__robux-down{
		width: 100%;
		height: 203rem;
		
		top: 0;
		left: 0;
		margin-left: 0;

		background: transparent url('@/assets/img/landing/robux_down-mob.png') no-repeat 50% 50%;
		background-size: cover;
		animation: none;
	}
	.screen1__robux-up{
		width: 100%;
		height: 162rem;

		top: -35rem;
		left: 0;
		margin-left: 0;

		background: transparent url('@/assets/img/landing/robux_up-mob.png') no-repeat 50% 50%;
		background-size: cover;
		animation: none;
	}

	.screen1__text{
		position: relative;
		
		width: 311rem;
		height: 43rem;

		margin: 25rem auto 0;
	}
	.screen1__gamepad{
		width: 320rem;
		height: 130rem;

		margin: -10rem auto 0;
	}


	.screen1-service{
		margin-top: 50rem;
		padding-bottom: 0;
	}
	.screen1-service__title{
		font-size: 54px;
		margin-bottom: 40px;
	}
	.screen1-service-list{
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;

		margin: 0;
	}
	.screen1-service-list__btn{
		height: var(--btn_height);
		
		margin: 0 0 20px 0;

		font-size: 24px;
	}
	.screen1-service-list__btn::before{
		width: 24px;
		height: 24px;
	}
	.screen1-service-list__btn:last-child{
		margin: 0;
	}



	/*** Labels ***/
	.labels{
		padding-top: 100px;
		padding-bottom: 69px;
	}
	/*.labels::before{
		top: -215px;
		background: transparent url('@/assets/img/landing/labels-bg-mob.svg') no-repeat 50% 0;
	}*/
	.labels-grid{
		display: block;
		
		max-width: 100%;

		padding-top: 0;
	}
	.labels-grid::before{
		display: none;
	}
	.labels-grid-title{
		margin-bottom: 80px;
	}
	.labels-grid-title__text,
	.labels-grid-title__text h1{
		font-size: 72px;
	}
	.labels-grid-item{
		padding: 40px 30px;
		border: 1px solid var(--border_color);
	}

	.labels-tag{
		margin-left: 2px;
		font-size: 18px;
	}
	.labels-tag::before{
		width: 18px;
		height: 18px;

		margin-right: 5px;
	}
	.labels-tag_big{
		margin-top: 17px;
		margin-left: 0;

		font-size: 28px;
	}
	.labels-tag_big::before{
		width: 22px;
		height: 24px;

		margin-right: 7px;
	}


	.label-offers{
		margin-bottom: 20px;
	}
	.label-offers__text{
		margin-top: 18px;

		font-size: 38px;
	}
	.label-offers__img{
		width: 237px;
		
		margin-top: 56px;
	}

	.label-service{
		padding: 76px 40px 52px;
		margin-bottom: 20px;
	}
	.label-service__img{
		width: 242px;
	}
	.label-service .labels-tag{
		left: 32px;
	}

	.label-reliable{
		margin-bottom: 20px;
	}
	.label-reliable__text{
		font-size: 38px;
	}
	.label-reliable__text::after{
		width: 31px;
		height: 21px;
	}
	.label-reliable__desc{
		font-size: 16px;
	}

	.label-process{
		margin-bottom: 20px;
	}
	.labels-process__text{
		margin-top: 27px;

		font-size: 38px;	
	}
	.labels-process__desc{
		margin-top: 13px;

		font-size: 16px;
	}

	.label-stats{
		margin-bottom: 0;
	}
	.labels-stats__text{
		margin-top: 42px;

		font-size: 32px;
	}
	.labels-stats__img{
		width: 273px;
		
		margin: 34px auto 0;
	}
	.labels-stats__desc{
		margin-top: 34px;
		
		font-size: 16px;
	}
	.labels-stats__desc br{
		display: none;
	}


	.labels-flex{
		max-width: 100%;
	}

	.labels-flex-item,
	.labels-flex-item.labels-flex-item_01,
	.labels-flex-item.labels-flex-item_02,
	.labels-flex-item.labels-flex-item_03{
		margin-top: 257px;
		padding: 30px;

		border: 1px solid var(--border_color);
	}
	.labels-flex-item::after{
		height: 145px;
		top: -145px;
	}

	.labels-flex-item__spacer{
		margin-top: 30px;
	}

	.labels-flex-item::before,
	.labels-flex-item.labels-flex-item_01::before,
	.labels-flex-item.labels-flex-item_02::before,
	.labels-flex-item.labels-flex-item_03::before{
		top: -217px;
		height: 53px;
	}

	.labels-flex-item__text{
		font-size: 38px;
	}
	.labels-flex-item__text .icon-robux::after{
		width: 29px;
		height: 32px;

		margin-left: 7px;
	}




	/*** Trouble ***/
	.trouble{
		padding: 67px 0;
	}
	.trouble-box{
		padding: 30px 0 50px;
	}
	.trouble-wrapper::before{
		width: 40px;
		height: 44px;

		margin-top: 32px;
	}
	.trouble-box::after{
		width: 360px;
		height: 179px;
	}


	.trouble__title{
		font-size: 54px;
	}
	.trouble-footer{
		margin-top: 32px;
	}
	.trouble__desc{
		font-size: 16px;
	}
	.trouble-btnwrap{
		margin-top: 52px;
	}

	.trouble__btn{
		width: 223px;
		height: 45px;
		
		border-radius: 18px;
		border: 1px solid transparent;
		
		font-size: 15px;
	}
	.trouble__btn:last-child{
		margin-top: 20px;
	}
	.trouble__btn.icon-info svg{
		width: 18px;
		height: 18px;
	}
	.trouble__btn.icon-discord svg{
		width: 22px;
		height: 16px;
	}
	.trouble__btn svg{
		margin-right: 8px;
	}

	.trouble__btn:hover{
		color: rgba(0, 0, 0, 0.95);

		border-color: transparent;
	}
	.trouble__btn.icon-info:hover svg path{
		stroke: #636FE9 !important;
	}
	.trouble__btn.icon-discord:hover svg path{
		fill: #636FE9 !important;
	}




	/*** Marquee ***/
	.marquee{
		padding-top: 53px;
		padding-bottom: 80px;
	}
	.marquee-box{
		animation: marquee_mob 8s infinite linear;
	}
	@keyframes marquee_mob{
		0% {
			transform: translateX(0)
		}
		100% {
			transform: translateX(-608px)
		}
	}
	.marquee-item{
		width: 264px;
		height: 52px;
	}
	.marquee-item:hover::before{
		opacity: 1;
	}
	.marquee-item:hover svg line{
		stroke: transparent;
	}
	.marquee-item:active::before{
		opacity: 0;
	}
	.marquee-item:active svg line{
		stroke: var(--violet);
	}
}