/******************************************************************************
	Navbar
******************************************************************************/
.navbar{
	position: sticky;
	
	top: 0;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
	
	min-height: 100vh;
	width: 100%;

	padding: 31px 15px;

	font-family: Montserrat;
	
	border-radius: 0px 18px 18px 0px;
	
	background: var(--bg_block);

	z-index: 200;
}

.navbar-logo{
	position: relative;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	
	padding: 0 0 32px 0;
}

.navbar-logo::after{
	content: '';

	position: absolute;
	
	bottom: 0;
	left: 50%;
	width: 110px;
	height: 1px;

	margin-left: -55px;
	
	background: transparent radial-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%) no-repeat 50% 50%;

	opacity: 0.1;
}
.navbar-logo__icon{
	flex: 0 0 auto;

	width: 30px;
	height: 32px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}
.navbar-logo__text{
	flex: 0 0 auto;

	width: 70px;
	height: 10px;

	margin-left: 15px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}



/*** Navbar panel ***/
.navbar-panel{
	padding: 32px 0 0 0;

	user-select: none;
}

.navbar-link{
	position: relative;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
	height: 54px;
	
	margin-bottom: 6px;
	padding: 0 var(--padding-side);

	border-radius: 18px;
	background-color: transparent;

	overflow: hidden;
	
	cursor: pointer;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;

	transition: background-color var(--anim_func) var(--anim_time);
}
.navbar-link::before{
	content: '';

	position: absolute;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.02) 100%);

	z-index: -10;

	opacity: 0;

	transition: opacity var(--anim_func) var(--anim_time);
}
/*.navbar-link.router-link-exact-active{
	cursor: default;

	pointer-events: none;
}*/

.navbar-link:hover::before{
		opacity: 1;
}
.navbar-link:active{
	background-color: rgba(255, 255, 255, 0.08);
}
.navbar-link:active::before{
	opacity: 0;
}


.navbar-link__icon{
	flex: 0 0 auto;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}

.navbar-link__text{
	flex: 0 0 auto;

	margin-left: 8px;

	font-weight: 400;
	font-size: 16px;
	line-height: 17px;

	color: rgba(255, 255, 255, 0.50);
}
.navbar-link.router-link-exact-active .navbar-link__text,
.js-active.navbar-link .navbar-link__text{
	font-weight: 600;

	color: var(--white70);
}
.js-hide-router-active .navbar-link.router-link-exact-active .navbar-link__text{
	font-weight: 400;

	color: rgba(255, 255, 255, 0.50);
}




/*** Navbar user ***/
.navbar-bottom{
	margin-top: 20px;
}
.navbar-user{
	text-align: center;
}

.navbar-user-avatar{
	position: relative;

	display: block;
	
	width: 62px;
	height: 62px;

	margin: 0 auto;

	border-radius: 50%;

	z-index: 15;

	cursor: pointer;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;

	user-select: none;
}

.navbar-user-avatar__img{
	display: block;

	width: 100%;
	height: 100%;
	
	border-radius: 50%;

	object-fit: cover;

	overflow: hidden;
}

.navbar-user-avatar-settings{
	position: absolute;
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: transparent;

	overflow: hidden;

	z-index: 16;

	transition: border-color var(--anim_func) var(--anim_time), background-color var(--anim_func) var(--anim_time);
}

.navbar-user-avatar__svg{
	flex: 0 0 auto;
	
	width: 20px;
	height: 20px;

	opacity: 0;

	will-change: opacity;
	transition: opacity var(--anim_func) var(--anim_time);
}
.navbar-user-avatar__svg path{
	transition: fill var(--anim_func) var(--anim_time);;
}

.navbar-user-avatar__notice{
	position: absolute;

	top: 0;
	right: 0;

	width: 16px;
	height: 16px;

	font-size: 12px;
	line-height: 16px;

	color: #fff;

	text-align: center;

	border-radius: 50%;

	background-color: #E63434;

	overflow: hidden;
}

.navbar-user-avatar:hover .navbar-user-avatar-settings{
	border-color: var(--violet);
	background-color: rgba(0, 0, 0, 0.75);
}
.navbar-user-avatar:active .navbar-user-avatar-settings{
	border-color: var(--lilac);
	background-color: rgba(0, 0, 0, 0.75);
}
.navbar-user-avatar:hover .navbar-user-avatar__svg{
	opacity: 1;
}
.navbar-user-avatar:active .navbar-user-avatar__svg{
	opacity: 1;
}
.navbar-user-avatar:active .navbar-user-avatar__svg path{
	fill: var(--lilac);
}


.navbar-user-expand{
	margin-top: 14px;

	text-align: center;

	overflow: hidden;
}
.navbar-user__link{
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;

	color: #fff;

	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-decoration-color: transparent;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;

	transition: all var(--anim_func) var(--anim_time);
}
.navbar-user__link:hover{
	color: var(--violet);
	text-decoration-color: var(--violet);
}
.navbar-user__link:active{
	color: var(--lilac);
	text-decoration-color: var(--lilac);
}

.navbar-user-balance{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	margin-top: 14px;
}
.navbar-user-balance__val{
	flex: 0 0 auto;

	font-size: 16px;
	line-height: 16px;

	color: rgba(255, 255, 255, 0.50);
}
.navbar-user-balance__add{
	flex: 0 0 auto;

	display: inline-block;

	width: 17px;
	height: 17px;

	margin-left: 3px;

	border-radius: 4px;
	
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 13px 13px;

	cursor: pointer;

	will-change: background-color;
	transition: background-color var(--anim_func) var(--anim_time);
}
.navbar-user-balance__add:hover{
	background-color: rgba(255, 255, 255, 0.05);
}
.navbar-user-balance__add:active{
	background-color: rgba(255, 255, 255, 0.10);
}




/*** Navbar logout ***/
.navbar-logout{
	position: relative;

	margin: 28px 16px 0 16px;
}
.navbar-link.navbar-link_logout{
	justify-content: center;

	height: 38px;

	margin-bottom: 0;
	padding: 0;
}
.nb-logout{
	width: 20px;
	height: 19px;
}






@media (max-width: 1199px) {
	.ml-left{
		position: fixed;

		top: 58px;
		bottom: 0;
		right: 0;
		left: 0;

		transform: translateX(-100%);
		will-change: transform;
		transition: transform var(--anim_time) var(--anim_func);

		z-index: 250;

		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	.ml-left.js-show{
		transform: translateX(0);
	}

	.navbar{
		position: static;

		min-height: 100%;

		/*padding: 35px 0;*/
		padding: 0;

		border-radius: 0;
		background: var(--bg);
	}



	/*** Navbar panel ***/
	.navbar-panel{
		padding: 0;
	}

	.navbar-link{
		justify-content: center;

		height: 70px;
		
		margin-bottom: 0;
		padding: 0;

		border-radius: 0;
	}
	.navbar-link.router-link-exact-active,
	.navbar-link.js-active{
		background: rgba(255, 255, 255, 0.03);
	}
	.js-hide-router-active .navbar-link.router-link-exact-active{
		background: transparent;
	}

	.navbar-link::before{
		display: none;
	}
	.navbar-link:active{
		background-color: rgba(255, 255, 255, 0.08);
	}

	.navbar-link__text{
		margin-left: 20px;

		font-size: 18px;
		line-height: 18px;
	}
	.navbar-link.router-link-exact-active .navbar-link__text,
	.js-active.navbar-link .navbar-link__text{
		font-weight: 500;
	}
	.js-hide-router-active .navbar-link.router-link-exact-active .navbar-link__text{
		font-weight: 400;

		color: rgba(255, 255, 255, 0.50);
	}

	.navbar-panel .navbar-link__icon{
		transform: scale(1.25);
	}




	/*** Navbar user ***/
	.navbar-bottom{
		display: contents;
	}

	.navbar-user{
		padding: 10px 0;
	}

	.navbar-user-avatar{
		width: 92px;
		height: 92px;
	}

	.navbar-user-avatar__svg{
		width: 22px;
		height: 23px;
	}
	.navbar-user-avatar__svg path{
		transition: fill var(--anim_func) var(--anim_time);
	}

	.navbar-user-avatar__notice{
		width: 22px;
		height: 22px;

		font-size: 15px;
		line-height: 22px;
	}

	.navbar-user-avatar:hover .navbar-user-avatar-settings{
		border-color: transparent;
		background-color: transparent;
	}
	.navbar-user-avatar:active .navbar-user-avatar-settings{
		border-color: var(--lilac);
		background-color: rgba(0, 0, 0, 0.5);
	}
	.navbar-user-avatar:hover .navbar-user-avatar__svg{
		opacity: 0;
	}
	.navbar-user-avatar:active .navbar-user-avatar__svg{
		opacity: 1;
	}
	.navbar-user-avatar:active .navbar-user-avatar__svg path{
		fill: var(--lilac);
	}



	.navbar-user-expand{
		margin-top: 18px;
	}
	.navbar-user__link{
		font-size: 22px;
		line-height: 22px;

		color: #fff;

		text-decoration: none;
	}
	.navbar-user__link:hover{
		color: #fff;
	}
	.navbar-user__link:active{
		color: var(--lilac);
	}

	.navbar-user-balance{
		margin-top: 18px;
	}
	.navbar-user-balance__val{
		font-size: 18px;
		line-height: 18px;
	}
	.navbar-user-balance__add{
		display: none;
	}



	/*** Navbar logout ***/
	.navbar-logout{
		margin: 0;
	}

	.navbar-link.navbar-link_logout{
		height: 70px;
	}
	.navbar-link.navbar-link_logout:active{
		background-color: transparent;
	}

	.nb-logout{
		width: 26px;
		height: 25px;
	}

}