/******************************************************************************
	Profile
******************************************************************************/
.profile{
	min-height: 100%;
}
.profile-header{
	margin-bottom: 40px;
}
.profile-subheader{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;

	gap: 20px;
}
.profile-toggle-btns{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	min-width: calc(25% - 15px);
	/*margin-right: 145px;*/
}
.profile-toggle-btns .ml-btn{
	flex: 1 0 auto;
}
.profile-toggle-btns .ml-btn:not(:first-child){
	margin-left: 16px;
}

.profile-subheader-box{
	flex: 1 0 auto;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;	
}

.profile__search{
	flex: 1 0 auto;

	margin-right: 45px;
}



@media (max-width: 1199px) {
	.profile{
		padding-bottom: 0;
	}
	
	.profile-header{
		margin-top: 12px;
		margin-bottom: 20px;
	}
	
	.profile-body{
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;
	}

	.profile-mobile-box{
		padding-bottom: 20px;

		border-radius: 18px;
		background: var(--bg_block);
	}

	.profile-mobile-box .pagenator{
		justify-content: center;

		margin-top: 16px;
	}

	.profile-subheader{
		order: 1;
		
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;

		gap: 20px;
	}

	.profile-subheader-box{
		order: 0;
		flex: 0 0 auto;
		
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;

		margin-top: 16px;
	}

	.profile__search{
		flex: 0 0 auto;

		margin-right: 0;
	}

	.profile-toggle-btns{
		order: 1;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		min-width: 100%;
	}
	.profile-toggle-btns .ml-btn{
		flex: 0 1 calc(50% - 6px);
	}
	.profile-toggle-btns .ml-btn:not(:first-child){
		margin-left: 12px;
	}
}