/******************************************************************************
	Proxies page
******************************************************************************/
.proxies .tablepanel-header{
	grid-template-columns: repeat(4, 1fr);
}

.table-proxies .table-head-cell,
.table-proxies .table-cell{
	text-align: right;
}
.table-proxies .table-head-cell_check,
.table-proxies .table-cell_check,
.table-proxies .table-head-cell_host,
.table-proxies .table-cell_host{
	text-align: left;
}


.add-proxy-fields{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	row-gap: 12px;
}


.add-proxies__format{
	font-size: 16px;
	line-height: 1;

	text-align: center;
}
.add-proxies__example{
	margin-top: 8px;

	font-weight: 600;
	font-size: 16px;
	line-height: 1;
	color: var(--white70);
	
	text-align: center;
}



/*@media (max-width: 1566px) {
	.proxies .tablepanel-header{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
	}
}*/


@media (max-width: 1199px) {
	.proxies .tablepanel-header{
		display: contents;
	}
	.tablepanel-header-wrap.order-1{
		order: 1;
	}
}