/******************************************************************************
	Register layout
******************************************************************************/
.rl{
	--base_font: TBWAGrotesk;

	font-family: var(--base_font);

	min-height: 100vh;
	
	background: var(--bg);
}
.rl-header{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
	
	width: 100%;
	height: 148px;

	padding: 0 162px 50px;
}
.rl-header__logo{
	display: block;

	width: 137px;
	height: 35px;
}
.rl-header__back{
	font-size: 22px;
	font-weight: 500;
	line-height: 38px;

	color: #FFF;
}

.rl-body{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;

	min-height: calc(100vh - 148px);

	overflow: hidden;
}

.rl-body-imgwrap{
	flex: 0 0 50%;
	align-self: stretch;

	position: relative;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-end;

	/*overflow: hidden;*/

	z-index: 10;
}
.rl-body__imgbox{
	position: absolute;

	width: 100%;
	height: 100%;
	min-height: 850px;

	top: 0;
	right: 0;
}
.rl-body__img{
	position: absolute;

	bottom: 0;
	right: 0;
	width: 1040px;
	height: 850px;

	background-color: transparent;
	background-image: url('@/assets/img/rl/rl-img.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;

	overflow: hidden;
}

.rl-body__img::before{
	content: '';

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 100%;
	background-size: cover;

	z-index: -5;
}


.random-img_1 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-01.webp');}
.random-img_2 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-02.webp');}
.random-img_3 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-03.webp');}
.random-img_4 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-04.webp');}
.random-img_5 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-05.webp');}
.random-img_6 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-06.webp');}
.random-img_7 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-07.webp');}

@media (max-width: 1199px) {
	.random-img_1 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-01_mob.webp');}
	.random-img_2 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-02_mob.webp');}
	.random-img_3 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-03_mob.webp');}
	.random-img_4 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-04_mob.webp');}
	.random-img_5 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-05_mob.webp');}
	.random-img_6 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-06_mob.webp');}
	.random-img_7 .rl-body__img::before{background-image: url('@/assets/img/rl/bg-07_mob.webp');}
}



.rl-body-content{
	flex: 0 0 50%;

	position: relative;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;

	padding-bottom: 50px;
}
.rl-body-content-wrap{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	/*border-left: 1px solid rgba(255, 255, 255, 0.10);*/
}

.rl-field{
	margin-top: 18px;
}
.rl-field:first-child{
	margin-top: 0;
}

.rl-field__checkbox{
	display: flex;
	gap: 12px;
    flex-flow: row nowrap;
    align-items: center;
}
.rl-field__checkbox label{
	margin-bottom: 0;

	color: var(--white25);
}

.rl__title{
	font-weight: 700;
	font-size: 76px;
	line-height: 91px;
	color: #fff;

	text-align: center;
}

.rl__desc{
	font-size: 24px;
	line-height: normal;
	color: rgba(255, 255, 255, 0.45);

	text-align: center;
}




/******************************************************************************
	login page
******************************************************************************/
.login-page{
	width: 516px;
}
.login-page-form{
	margin-top: 32px;
}
.login-page__policy{
	margin-top: 15px;

	font-size: 16px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.25);
	text-align: center;
}
.login-page__policy a{
	color: rgba(255, 255, 255, 0.45);
}

.login-page__btn{
	margin-top: 50px;
}

.login-page-desc{
	margin-top: 18px;

	font-size: 16px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.25);
	text-align: center;
}
.login-page-desc a{
	color: rgba(255, 255, 255, 0.45);	
}
.login-page-desc__divider{
	display: inline-block;

	vertical-align: middle;
	
	height: 14px;
	width: 0;

	margin: 0 19px;

	border: 1px solid rgba(255, 255, 255, 0.45);
}


.login-page__btn > span::before{
	width: 19px;
	height: 21px;
}




/******************************************************************************
	recovery page
******************************************************************************/
.recovery-page{
	width: 516px;
}
.recovery-page__desc{
	margin-top: 24px;
}
.recovery-page-form{
	margin-top: 50px;
}
.recovery-page__btn{
	margin-top: 30px;
}





/******************************************************************************
	recovery verify page
******************************************************************************/
.recovery-verify-page{
	width: 740px;
}
.recovery-verify-page__title{
	font-size: 60px;
	line-height: normal;
	font-weight: 500;
	color: #fff;
	
	text-align: center;	
}
.recovery-verify-page__title .violet{
	font-weight: 700;
}

.recovery-verify-page__desc{
	margin-top: 60px;
}
.recovery-verify-page-form{
	position: relative;
	
	width: 516px;

	margin: 0 auto;
}
.recovery-verify-page-digit{
	padding-top: 42px;
}

.recovery-verify-page__btn{
	margin-top: 55px;
}




/******************************************************************************
	recovery end page
******************************************************************************/
.recovery-end-page{
	width: 516px;
}
.recovery-end-page-form{
	margin-top: 32px;
}

.recovery-end-page__btn{
	margin-top: 50px;
}

.recovery-end-page__btn > span::before{
	width: 17px;
	height: 19px;
}




/******************************************************************************
	register select page
******************************************************************************/
.register-select-page{
	width: 100%;
}
.register-select-page-btnwrap{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;

	margin-top: 56px;
}
.register-select-page__btn{
	width: 248px;
	margin-right: 16px;
}
.register-select-page__btn:last-child{
	margin-right: 0;
}
.register-select-page-desc{
	margin-top: 25px;

	font-size: 16px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.25);

	text-align: center;
}
.register-select-page-desc a{
	color: rgba(255, 255, 255, 0.45);
}



/******************************************************************************
	register questions page
******************************************************************************/
.register-question-page{
	width: 686px;
}
.register-question-page-form{
	margin-top: 50px;
}
.register-question-page__btn{
	margin-top: 30px;
}




/******************************************************************************
	register discord linking page
******************************************************************************/
.register-discord-linking-page{
	width: 686px;
}
.register-discord-linking__btn{
	margin-top: 50px;
}
.register-discord-linking__error{
	margin-top: 30px;

	font-size: 16px;
	line-height: 24px;
	color: rgba(230, 52, 52, 0.75);

	text-align: center;
}




/******************************************************************************
	register discord confirm page
******************************************************************************/
.register-discord-confirm-page{
	width: 686px;
}

.register-discord-confirm-box{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
	
	margin-top: 50px;
}
.register-discord-confirm-label-discord{
	flex: 0 0 auto;
	
	width: 82px;
	
	margin-right: 4px;

	border: 1px solid var(--border_color);
	border-radius: 18px;
	
	background-color: #111111;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 27px 19px;
}
.register-discord-confirm-label-user{
	flex: 0 0 auto;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	padding: 22px 55px 22px 45px;

	border: 1px solid var(--border_color);
	border-radius: 18px;
	
	background-color: #111111;
}
.register-discord-confirm-label__img{
	flex: 0 0 auto;
	
	width: 60px;
	height: 60px;

	margin-right: 18px;

	border-radius: 50%;
	
	object-fit: cover;
	
	overflow: hidden;
}
.register-discord-confirm-label__name{
	font-weight: 500;
	font-size: 22px;
	line-height: 100%;
	color: #FFF;
}

.register-discord-confirm__btn-yes{
	margin-top: 50px;
}
.register-discord-confirm__btn-yes span::before{
	display: none;
}
.register-discord-confirm__btn-no{
	margin-top: 30px;
}




/******************************************************************************
	register info page
******************************************************************************/
.register-info-page{
	width: 516px;
}
.register-info-page-form{
	margin-top: 32px;
}
.register-info-page__policy{
	margin-top: 25px;

	font-size: 16px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.25);
	text-align: center;
}
.register-info-page__policy a{
	color: rgba(255, 255, 255, 0.45);
}

.register-info-page__btn{
	margin-top: 25px;
}

.register-info-page-desc{
	margin-top: 16px;

	font-size: 16px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.25);
	text-align: center;
}
.register-info-page-desc a{
	color: rgba(255, 255, 255, 0.45);	
}



/******************************************************************************
	register verify page
******************************************************************************/
.register-verify-page{
	width: 740px;
}
.register-verify-page__title{
	font-size: 60px;
	line-height: normal;
	font-weight: 500;
	color: #fff;
	
	text-align: center;	
}
.register-verify-page__title .violet{
	font-weight: 700;
}

.register-verify-page__desc{
	margin-top: 60px;
}
.register-verify-page-form{
	position: relative;
	
	width: 516px;

	margin: 0 auto;
}
.register-verify-page-digit{
	padding-top: 42px;
}

.register-verify-page__btn{
	margin-top: 55px;
}
.register-verify-page__btn > span::before{
	width: 17px;
	height: 19px;
}




/******************************************************************************
	register end page
******************************************************************************/

.rl-register-end .rl-body-imgwrap{
	display: none;
}

.rl-register-end .rl-body-content{
	flex: 0 0 auto;

	width: 100%;
	padding: 0 162px;
}

.register-end-page__title{
	font-size: 76px;
	line-height: normal;
	font-weight: 500;
	color: #fff;
	
	text-align: center;	
}
.register-verify-page__title .violet{
	font-weight: 700;
}

.register-end-page-btnwrap{
	position: relative;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	width: 880px;

	margin: 80px auto 0;
	padding: 80px 0 96px;
}
.register-end-page-btnwrap::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	opacity: 0.1;
}
.register-end-page__btn{
	width: 348px;
	margin-left: 30px;
}
.register-end-page__btn:first-child{
	margin-left: 0;
}

.register-end-page-policy{
	position: absolute;
	left: 0;
	bottom: 60px;
	width: 100%;
	
	text-align: center;
	
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: rgba(255, 255, 255, 0.25);
}
.register-end-page-policy__link{
	color: rgba(255, 255, 255, 0.45);
}









@media (max-width: 1368px) {
	.rl-header{
		padding: 0 60px 50px;
	}
	.rl-register-end .rl-body-content{
		padding: 0 60px;
	}
}





@media (max-width: 1199px) {
	.rl{
		min-height: 100dvh;
	}
	.rl-header{
		/*position: fixed;
		top: 0;
		left: 0;*/

		align-items: center;

		height: 66px;

		padding: 0 36px;

		background: var(--bg);
		border: 1px solid rgba(42, 41, 40, 0.5);

		z-index: 50;
	}
	.rl-header__logo{
		width: 25px;
		height: 25px;
	}
	.rl-header__back{
		font-size: 18px;
	}


	.rl-body{
		flex-flow: column nowrap;

		min-height: auto;

		/*padding-top: 66px;*/
	}

	
	.rl-body-imgwrap{
		order: 1;
		flex: 0 0 auto;

		justify-content: center;
	}
	.rl-body__imgbox{
		position: static;

		min-height: auto;
	}
	.rl-body__img{
		position: relative;

		width: 516px;
		height: 300px;

		margin: 0 auto;

		background-image: url('@/assets/img/rl/rl-img_mob.svg');
		background-position: 50% 100%;
		background-size: cover;

		overflow: hidden;
	}

	.rl-body__img::before{
		top: 1px;
		bottom: 0;
		left: 0;
		right: 0;
		
		background-position: 50% 100%;

		z-index: -10;
	}

	.rl-body__img::after{
		content: '';

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background: linear-gradient(0deg, rgba(6, 6, 6, 1) 0%, rgba(6, 6, 6, 0.2) 100%);

		z-index: -5;
	}

	.rl-body-content{
		flex: 1 0 auto;

		justify-content: flex-start;

		padding: 0 36px;
	}
	.rl-body-content-wrap{
		padding: 52px 0;

		border-left: none;
	}

	.rl__title{
		font-size: 52px;
		line-height: 62px;
	}
	.rl__desc{
		font-size: 18px;
	}





	/******************************************************************************
		login page
	******************************************************************************/
	.login-page{
		padding: 0;
	}
	.login-page-form{
		margin-top: 43px;
	}
	.login-page__policy{
		font-size: 14px;
	}
	.login-page__btn{
		margin-top: 45px;
	}
	.login-page-desc{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;

		font-size: 14px;
		line-height: 24px;
	}
	.login-page-desc a{
		color: rgba(255, 255, 255, 0.45);	
	}
	.login-page-desc__divider{
		display: inline-flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		
		height: 16px;
		width: 100%;

		margin: 0;

		border: none;
		
		text-align: center;
	}
	.login-page-desc__divider::before{
		content: '';
		display: inline-block;
		height: 0;
		width: 62px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}


	.login-page__btn > span::before{
		width: 15px;
		height: 16px;
	}


	/******************************************************************************
		recovery page
	******************************************************************************/
	.recovery-page{
		padding: 0;
	}
	.recovery-page__desc{
		margin-top: 33px;

		font-size: 20px;
	}
	.recovery-page-form{
		margin-top: 43px;
	}
	.recovery-page__btn{
		margin-top: 30px;
	}



	/******************************************************************************
		recovery verify page
	******************************************************************************/
	.recovery-verify-page{
		padding: 0;
	}
	.recovery-verify-page__title{
		font-size: 36px;
	}
	.recovery-verify-page__desc{
		margin-top: 45px;
	}
	.recovery-verify-page-form{
		width: 100%;

		overflow: visible;
	}
	.recovery-verify-page-digit{
		padding-top: 26px;
	}
	.recovery-verify-page__btn{
		margin-top: 45px;
	}



	/******************************************************************************
		recovery end page
	******************************************************************************/
	.recovery-end-page{
		padding: 0;
	}
	.recovery-end-page-form{
		margin-top: 43px;
	}
	.recovery-end-page__btn{
		margin-top: 45px;
	}
	
	.recovery-end-page__btn > span::before{
		width: 12px;
		height: 14px;
	}




	/******************************************************************************
		register select page
	******************************************************************************/
	.register-select-page{
		padding: 0;
	}
	.register-select-page-btnwrap{
		margin-top: 36px;
	}
	.register-select-page__btn{
		width: 158px;
	}
	.register-select-page-desc{
		font-size: 14px;
	}


	/******************************************************************************
		register questions page
	******************************************************************************/
	.register-question-page-form{
		margin-top: 45px;
	}


	/******************************************************************************
		register discord linking page
	******************************************************************************/
	.register-discord-linking__btn{
		margin-top: 45px;
	}
	.register-discord-linking__error{
		margin-top: 16px;

		font-size: 14px;
	}




	/******************************************************************************
		register discord confirm page
	******************************************************************************/
	.register-discord-confirm-label-discord{
		width: 88px;
		
		background-size: 33px 23px;
	}
	.register-discord-confirm-label-user{
		flex: 0 1 auto;
		padding: 14px 16px 14px 6px;
	}
	
	.register-discord-confirm-label__name{
		flex: 0 0 auto;
		
		display: inline-block;

		max-width: calc(100% - 100px);

		word-break: break-word;
	}

	.register-discord-confirm__btn-no{
		margin-top: 12px;
	}




	/******************************************************************************
		register info page
	******************************************************************************/
	.register-info-page-form{
		margin-top: 20px;
	}
	.register-info-page__policy{
		font-size: 14px;
		line-height: 24px;
	}

	.register-info-page__btn{
		margin-top: 18px;
	}

	.register-info-page-desc{
		font-size: 14px;
	}




	/******************************************************************************
		register verify page
	******************************************************************************/
	.register-verify-page{
		padding: 0;
	}
	.register-verify-page__title{
		font-size: 36px;
	}
	.register-verify-page__desc{
		margin-top: 45px;
	}
	.register-verify-page-form{
		width: 100%;
	}
	.register-verify-page-digit{
		padding-top: 26px;
	}
	.register-verify-page__btn{
		margin-top: 45px;
	}
	.register-verify-page__btn > span::before{
		width: 12px;
		height: 14px;
	}




	/******************************************************************************
		register end page
	******************************************************************************/

	.rl-register-end .rl-body-imgwrap{
		display: block;
	}

	.rl-register-end .rl-body-content{
		flex: 0 0 50%;

		width: auto;
		padding: 0 36px;
	}

	.register-end-page__title{
		font-size: 36px;
	}

	.register-end-page-btnwrap{
		display: block;
		
		width: 100%;

		margin: 54px auto 0;
		padding: 0;
	}
	.register-end-page-btnwrap::before{
		display: none;
	}
	.register-end-page__btn{
		width: 100%;
		margin: 32px 0 0 0;
	}
	.register-end-page__btn:first-child{
		margin: 0;
	}

	.register-end-page-policy{
		position: static;

		margin-top: 30px;
				
		font-size: 14px;
		line-height: 24px;
	}

}



@media (max-width: 767px) {
	.rl-body__img{
		width: 100%;
		height: 58vw;
	}

	.login-page,
	.recovery-page,
	.recovery-verify-page,
	.recovery-end-page,
	.register-question-page,
	.register-discord-linking-page,
	.register-discord-confirm-page,
	.register-verify-page,
	.register-info-page,
	.register-end-page{
		width: 100%;
	}
}
