/******************************************************************************
	Tablepanel Page
******************************************************************************/
.tablepanel-header{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
}
.tablepanel-header-any{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 20px;
}

.tablepanel-header-wrap{
	display: contents;
}

.tablepanel__btn.ml-btn{
	color: var(--white70)
}
.tablepanel__btn > span::before{
	content: '';

	display: block;

	margin-right: 8px;
	
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}



.tablepanel-list{
	margin-top: 40px;
}
.tablepanel-subheader{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.tablepanel-search-box{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	width: calc(40% - 20px);
}
.tablepanel__search{
	flex: 1 0 auto;
}
.tablepanel-search-help{
	margin-left: 28px;
}

.tablepanel__summary{
	flex: 1 0 auto;

	margin-left: 60px;

	font-size: 18px;
	line-height: 24px;

	color: var(--white50);
}




@media (max-width: 1566px) {
	.tablepanel-header{
		grid-template-columns: repeat(4, 1fr);
	}
	.tablepanel-search-box{
		width: calc(50% - 20px);
	}

	.tablepanel-subheader{
		flex-wrap: wrap;
	}
	.tablepanel__summary{
		order: 2;

		width: 100%;
		
		margin-left: 0;

		text-align: center;
	}
}





@media (max-width: 1199px) {
	.tablepanel{
		flex: 0 0 auto;
		
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;
		row-gap: 20px;

		width: 100%;

		padding-bottom: 0;
	}

	.tablepanel-header{
		order: 1;

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;
		row-gap: 12px;
	}
	.tablepanel-header-wrap{
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;
		row-gap: 12px;	
	}

	.tablepanel-list{
		margin-top: 0;
	}
	.tablepanel-subheader{
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;
		row-gap: 20px;

		margin-bottom: 20px;
	}

	.tablepanel-search-box{
		display: block;
		width: 100%;
	}
	.tablepanel-search-help{
		display: none;
	}
}