/******************************************************************************
	Table
******************************************************************************/
.table{
	display: table;

	min-width: 100%;

	margin-top: 24px;

	transform-origin: 0 0;

	will-change: transform;
	transition: transform var(--anim_time) var(--anim_func);
}
.table.js-animate{
	transform: scaleY(0);
}

.table-head{
	display: table-header-group;
}
.table-head-cell{
	display: table-cell;

	vertical-align: middle;

	padding: 6px 20px 12px;

	font-size: 16px;
	line-height: 20px;

	white-space: nowrap;

	color: var(--white25);

	cursor: pointer;

	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
.table-head-cell.table-head-cell_empty{
	padding: 0;
}
.table-head-cell::after{
	content: '';
	display: inline-block;

	width: 12px;
	height: 8px;

	margin-left: 10px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;

	will-change: transform;
	transition: transform var(--anim_time) var(--anim_func);
}
.table-head-cell.table-head-cell_empty::after,
.table-head-cell.table-head-cell_check::after,
.table-head-cell.table-head-cell_btns::after,
.table-head-cell.table-head-cell_nosort::after{
	display: none;
}
.table-head-cell.js-active{
	color: var(--white85);
}
.table-head-cell.js-decrease::after{
	transform: scaleY(-1);
}

.table-head-cell.table-head-cell_check{
	position: relative;
}
.table-head-cell.table-head-cell_check::before{
	content: '';

	position: absolute;
	top: -24px;
	bottom: 0;
	left: 0;
	right: 0;
}


.table-body{
	display: table-row-group;

	/* transform-origin: 0 0;

	will-change: transform;
	transition: transform var(--anim_time) var(--anim_func); */
}
/* .table-body.js-animate{
	transform: scaleY(0);
} */

.table-row{
	display: table-row;
}
.table-row:nth-child(even){
	background-color: rgba(255, 255, 255, 0.02);
}
.table-row.js-selected{
	background-color: rgba(255, 255, 255, 0.05);
}

.table-row.table-row_empty{
	background-color: transparent;
}
.table-row.table-row_empty .table-cell{
	color: var(--white25);
}

.table-cell{
	display: table-cell;

	width: auto;
	max-width: 400px;

	padding: 20px;

	font-size: 18px;
	line-height: 20px;

	color: var(--white70);

	vertical-align: middle;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table-cell.table-cell_empty{
	width: 10%;
	padding: 0;
}
.table-cell:first-child{
	border-radius: 18px 0 0 18px;
}
.table-cell:last-child{
	border-radius: 0 18px 18px 0;
}
.table-cell_id.table-cell{
	font-size: 16px;
}


.table-cell.table-cell_check{
	width: 64px;
}


.table-cell .table-date{
	display: inline-block;
}
.table-cell .table-time{
	display: inline-block;
	margin-left: 1ch;
}


.table-cell-status-box{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}
.table-cell-status-box span{
	display: inline-block;
}
.table-cell-status-box span::first-letter,
.table-cell-status-box a::first-letter{
	text-transform: uppercase;
}
.table-cell-status-box svg{
	margin-left: 10px;

	cursor: pointer;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.table-cell-status-box__icon{
	position: relative;

	height: 18px;
	width: 18px;
	
	margin-bottom: 2px;
	margin-left: 6px;
}
.table-cell-status-box__icon svg{
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 38px;
	height: 38px;

	margin-top: -19px;
	margin-left: -19px;
	padding: 10px;
}
.table-cell-status-box__icon svg.icon-link{
	top: calc(50% + 1px);
}

.table-cell-status-box__icon svg path{
	will-change: fill-opacity;
	transition: fill-opacity var(--anim_time) var(--anim_func);
}
.table-cell-status-box__icon svg:hover path{
	fill-opacity: 0.3;
}




.table-cell_status.process,
.table-cell_status.Pending,
.table-cell_status.Low_Funds,
.table-cell_status.Queued,
.table-cell_status.Queued_Deferred{
	color: var(--yellow);
}
.table-cell_status.Created,
.table-cell_status.TwoFA,
.table-cell_status.Cancelled{
	color: var(--blue_indicator)
}
.table-cell_status.completed,
.table-cell_status.Completed,
.table-cell_status.Complete,
.table-cell_status.completed .table-cell-status__icon,
.table-cell_status.Completed .table-cell-status__icon,
.table-cell_status.Complete .table-cell-status__icon,
.table-cell_status.Active{
	color: var(--active);
}
.table-cell_status.failed,
.table-cell_status.Expired,
.table-cell_status.Error,
.table-cell_status.Invalid,
.table-cell_status.Disabled,
.table-cell_status.Invalid_Proxy,
.table-cell_status.Locked{
	color: var(--error);
}




.table-head-cell_right,
.table-cell_right{
	text-align: right;
}




.table-cell_btns{
	padding-top: 0;
	padding-bottom: 0;
}
.table-cell_btns .table-cell__btn:not(:first-child){
	margin-left: 8px;
}



.table-cell-copy{
	height: 20px;
	max-width: 22vw;

	overflow: hidden;
}
.table-cell-copy__val{
	display: inline-block;
	max-width: calc(100% - 24px);

	overflow: hidden;
	text-overflow: ellipsis;
}
.table-cell-copy svg{
	display: inline-block;
	
	margin-left: 10px;
	
	transform: translateY(-2px);

	cursor: pointer;
}



.table .tablepanel__empty{
	position: relative;

	text-align: left;

	overflow: visible;
}
.table .tablepanel__empty span{
	position: absolute;

	left: 20px;
	top: 20px;

	font-size: 18px;
	line-height: 20px;

	color: var(--white25);

	background-color: var(--bg_block);
}



.table-cell.table-icon{
	min-height: 20px;
	
	padding-right: 50px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right 20px top 19px;
	background-size: 20px 20px;
}







@media (max-width: 1566px) {
	.table-wrap{
		width: calc(100vw - 341px);

		padding-bottom: 8px;
	}
}



@media (max-width: 1199px) {
	.table-wrap{
		order: 0;

		width: 100%;

		padding: 20px 0 8px;
	}
	
	.table{
		margin: 0 12px;
	}
	.table-head-cell{
		font-size: 14px;
	}
	.table-cell{
		padding: 14px 20px;

		font-size: 14px;
	}
	.table-cell_id.table-cell{
		font-size: 14px;
	}

	.table-topup .table-head-cell,
	.table-topup .table-cell{
		min-width: auto;
	}

	.table .tablepanel__empty span{
		top: 14px;
		
		font-size: 16px;
	}



	.table-cell-copy{
		max-width: 150px;
	}

	.table-head-cell.table-head-cell_check::before{
		top: -20px;
	}

	.table-cell.table-icon{
		background-position: right 20px top 13px;		
	}
}