/******************************************************************************
	Users Page
******************************************************************************/
.users-wrap{
	width: 100%;
	height: 100%;
}

.users-grid{
	display: grid;
	grid-template-areas:
		'customers vendors merchants'
		'blacklisted vendors merchants';
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto min-content;
	grid-gap: 20px;

	height: 100%;
}

.users-block_customers{
	grid-area: customers;
}
.users-block_vendors{
	grid-area: vendors;
}
.users-block_merchants{
	grid-area: merchants;
}
.users-block_blacklisted{
	grid-area: blacklisted;
}

.users-block .ml-box-header__title.settings-user-icon{
	padding-left: 23px;
	
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 18px 18px;
}

.users-block .ml-box{
	margin-bottom: 20px;
}
.users-btn{
	margin-top: 38px;
}


.users-toggle-btns{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	min-width: calc(25% - 15px);
}
.users-toggle-btns .ml-btn{
	flex: 1 0 auto;
}
.users-toggle-btns .ml-btn:not(:first-child){
	margin-left: 16px;
}

.users-show-btn{
	display: inline-block;
	
	height: 38px;

	padding: 0 21px;

	border: none;
	border-radius: 19px;

	
	background-color: var(--btn);
	background-image: none;
	background-repeat: no-repeat;
	
	font-family: var(--base_font);
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;

	color: var(--white85);

	cursor: pointer;

	overflow: hidden;

	z-index: 5;

	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	-webkit-user-select: none;

	will-change: background-color;
	transition: background-color var(--anim_time) var(--anim_func);
}
.users-show-btn span{
	vertical-align: middle;
}
.users-show-btn svg{
	vertical-align: middle;
	margin-left: 6px;
}
.users-show-btn:hover{
	background-color: var(--btn_hover);
}
.users-show-btn:active{
	background-color: var(--btn_active);
}
.users-show-btn:disabled{
	color: var(--white25);
	background-color: var(--disabled);

	pointer-events: none;
}



.table-cell-edit{
	position: relative;
	
	width: 13%;

	padding: 0;

	overflow: hidden;
}
.table-cell-edit-yes,
.table-cell-edit-no{
	position: absolute;
	
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	padding: 20px;


	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}
.table-cell-edit_left .table-cell-edit-yes,
.table-cell-edit_left .table-cell-edit-no{
	justify-content: flex-start;
}
.table-cell-edit-empty{
	padding: 20px;
}
.users-editable-text__el{
	display: inline-block;
}
.users-editable-input__el{
	display: inline-block;

	max-width: 120px;

	padding: 0;
	border: none;
	outline: none;

	text-align: right;
	font-family: var(--base_font);
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: var(--white70);

	background: transparent;
}
.table-cell-edit_left .users-editable-input__el{
	text-align: left;
}
.users-editable-input__el::-webkit-inner-spin-button{
	display: none;
	appearance: none;
}


.table-merchants-managment .users-editable-input__el{
	max-width: 4ch;
}




.js-padding.add-scrollbar-x{
	padding-bottom: 75px;
}
.table-cell_btns{
	overflow: visible;
}
.table-cell-settings{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	height: 100%;
}
.table-cell-btn-settings-wrap{
	position: relative;
	margin-left: 8px;
	height: 38px;
}
.js-active.table-cell-btn-settings-wrap{
	z-index: 10;
}
.js-active.table-cell-btn-settings-wrap .icon-btn_settings{
	border-radius: 12px 12px 0 0;
	background-color: var(--active);
}
.users-managment-settings{
	position: absolute;
	top: 100%;
	left: 0;
	width: 380px;
	z-index: 20;

	border-radius: 0 14px 14px 14px;
	background: var(--btn);
}
.users-managment-settings-item{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	padding: 10px 22px;
}
.users-managment-settings-item__title{
	font-size: 16px;
	line-height: 24px;
	
	color: var(--white85);
}





.ml-modal.ml-modal_accounts{
	width: 1000px;
}
.table-dashboard_accounts .table-cell_name{
	width: 230px;
}
.ml-modal_accounts .dashboard-table-footer{
	justify-content: center;
}







@media (max-width: 1199px) {
	.users-grid{
		grid-template-areas:
			'customers'
			'vendors'
			'merchants'
			'blacklisted';
		grid-template-columns: 1fr;
		grid-template-rows: auto min-content;

		height: auto;
	}
	.users-block .ml-box{
		margin-bottom: 12px;
	}
	.users-btn{
		margin-top: 18px;
	}


	.users-toggle-btns{
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 12px;
	
		min-width: 100%;
	}
	.users-toggle-btns .ml-btn{
		width: 100%;
	}
	.users-toggle-btns .ml-btn:not(:first-child){
		margin: 0;
	}



	.mobile-title{
		margin-top: 12px;
	}
	.tablepanel-header-any{
		order: 1;
	}



	.users-editable-input__el{
		font-size: 14px;
		line-height: 16px;
	}



	.ml-modal.ml-modal_accounts{
		width: 100%;
		gap: 0;
	}

	.ml-modal_accounts .dashboard-table-wrap{
		padding: 0;
	}
	.table-dashboard.table-dashboard_accounts .table-cell{
		white-space: nowrap;
	}
	.table-cell__btn.icon-btn_del{
		display: block;
	}
}