/******************************************************************************
	Withdraw page
******************************************************************************/
.withdraw .tablepanel-list{
	margin-top: 0;
}
.withdraw .tablepanel-subheader{
	flex-flow: row wrap;
	column-gap: 42px;
	row-gap: 20px;
}
.withdraw .tablepanel-search-box{
	flex: 1 0 auto;
	
	width: 33%;
	min-width: 372px;
}
.withdraw .tablepanel__btn{
	flex: 1 0 auto;
	
	width: 33%;
}

.table-withdraw .table-head-cell,
.table-withdraw .table-cell{
	text-align: right;
}
.table-withdraw .table-head-cell_id,
.table-withdraw .table-cell_id,
.table-withdraw .table-head-cell_wallet,
.table-withdraw .table-cell_wallet{
	text-align: left;
}



.add-proxy-fields{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	row-gap: 12px;
}


.add-proxies__format{
	font-size: 16px;
	line-height: 1;

	text-align: center;
}
.add-proxies__example{
	margin-top: 8px;

	font-weight: 600;
	font-size: 16px;
	line-height: 1;
	color: var(--white70);
	
	text-align: center;
}






.withdraw-modal-row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	gap: 12px;
}
.withdraw-modal-item{
	flex: 0 0 calc(50% - 6px);
}

.withdraw-modal-total__input.ui__input{
	color: rgba(255, 255, 255, 0.25);
}
.withdraw-modal-total__label{
	top: 50%;
	right: 16px;

	font-size: 18px;
	line-height: 24px;

	color: rgba(255, 255, 255, 0.25);

	transform: translateY(-50%);
}



.withdraw-currency{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	gap: 20px;
}

.withdraw-currency-label{
	flex: 0 0 auto;

	position: relative;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	width: calc(50% - 10px);

	padding: 12px 20px;
	
	border-radius: 18px;

	background: var(--bg_block2);

	cursor: pointer;
}
.withdraw-currency-label::before{
	content: '';

	position: absolute;
	left: 0;
	top: 50%;
	width: 3px;
	height: 16px;

	margin-top: -8px;

	border-radius: 3px;

	background: var(--lilac);

	opacity: 0;

	will-change: opacity;
	transition: opacity var(--anim_time) var(--anim_func);
}
.js-checked.withdraw-currency-label::before{
	opacity: 1;
}

.withdraw-currency-label-box{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.withdraw-currency-label__icon{
	display: inline-block;
	
	width: 20px;
	height: 20px;
	
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.withdraw-currency-label__title{
	margin-left: 11px;

	font-weight: 500;
	font-size: 20px;
	line-height: 20px;

	color: var(--white70);
}
.withdraw-currency-label__tax{
	margin-left: 16px;

	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	
	color:  var(--white25);

	transform: translateY(1px);
}





@media (max-width: 1199px) {
	.withdraw .tablepanel__btn{
		flex: 0 0 auto;
		
		width: 100%;
	}
	.withdraw .tablepanel-search-box{
		width: 100%;
		min-width: 100%;
	}


	.withdraw-modal-row{
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;

		gap: 20px;
	}
	.withdraw-modal-item{
		flex: 0 0 auto;
	}
	.withdraw-modal-total__label{
		right: 22px;

		font-size: 16px;
	}


	.withdraw-currency{
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;

		gap: 12px;
	}

	.withdraw-currency-label{
		width: 100%;
	}
	.withdraw-currency-label__title{
		margin-left: 11px;

		font-size: 18px;
	}
	.withdraw-currency-label__tax{
		margin-left: 8px;

		font-size: 14px;
	}
}