.alarms{
	width:420px;
	padding:0 20px;
	background: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(51, 54, 60, 0.05);
	min-height:100%;
	flex-grow: 0;
	flex-shrink: 0;
}
.alarms__header{
	height:72px;
	margin-bottom:30px;
	padding-top:10px;
	display:flex;
	align-items:center;
	border-bottom:1px solid rgba(41, 49, 91, 0.3);
}
.alarms__wrap{
	display:flex;
	flex-flow:column nowrap;
	align-items:stretch;
}
.alarms__logo{
	display: inline-block;
	margin-right:13px;
}
.alarms__title{
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #29315B;
}

.alarm{
	display:block;
	padding:10px 10px 14px 18px;
	background:#FFFFFF;
	box-shadow: 0px 5px 20px rgba(51, 54, 60, 0.1);
	border-radius: 4px;
	margin-bottom: 20px;
}
.alarm__header{
	padding-bottom:8px;
	margin-bottom:8px;
	border-bottom:1px solid rgba(0, 0, 0, 0.5);
	display:flex;
	flex-flow: row wrap;
	justify-content:space-between;
}
.alarm__title{
	display: inline-block;
	width: 50%;
	font-weight:700;
	font-size: 18px;
	line-height: 20px;
	color: #29315B;
}
.alarm__status{
	position: relative;
	display: inline-block;
	padding-right: 34px;
	font-weight:300;
	font-size:14px;
	line-height:20px;
}
.alarm__status::after{
	content:'';
	position:absolute;
	top:4px;
	right:11px;
	width: 12px;
	height:12px;
	border-radius:50%;
}
.alarm__row{
	margin-bottom:6px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
}
.alarm__row-title{
	font-size: 16px;
	line-height: 19px;
	color: #29315B;
}
.alarm__row-data{
	font-size: 16px;
	line-height: 19px;
	color: #29315B;
}

.alarm.alarm_new{border:1px solid #FF4C60;}
.alarm.alarm_open{border:1px solid #55A8FD;}
.alarm.alarm_deferred{border:1px solid #59A30F;}
.alarm.alarm_closed{border:1px solid #CECECE;}

.alarm.alarm_new .alarm__status{color:#FF4C60;}
.alarm.alarm_open .alarm__status{color:#55A8FD;}
.alarm.alarm_deferred .alarm__status{color:#59A30F;}
.alarm.alarm_closed .alarm__status{color:#CECECE;}

.alarm.alarm_new .alarm__status::after{background:#FF4C60;}
.alarm.alarm_open .alarm__status::after{background:#55A8FD;}
.alarm.alarm_deferred .alarm__status::after{background:#59A30F;}
.alarm.alarm_closed .alarm__status::after{background:#CECECE;}

.alarm.alarm_new{order:1000;}
.alarm.alarm_open{order:2000;}
.alarm.alarm_deferred{order:3000;}
.alarm.alarm_closed{order:4000;}