.login-wrap {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:#F5F6FA;
	transition: opacity .3s ease;
}
.login-container{
	position: absolute;
	top:50%;
	left:50%;
	width:326px;
	height:232px;
	margin-left:-163px;
	margin-top:-116px;
	display:flex;
	flex-flow:column nowrap;
	align-items:stretch;
}
.login__title{
	text-align:center;
	font-family:"Revue";
	font-weight:400;
	font-size: 26px;
	line-height: 33px;
	color: #29315B;
	margin-bottom: 17px;
}
.login__input{
	width:100%;
	padding:12px 15px;
	height: 46px;
	border: 1px solid #29315B;
	border-radius: 5px;
	background-color:transparent;
	font-weight:400;
	font-size: 16px;
	line-height: 20px;
	color: #29315B;
}
.login__input::placeholder{
	color:#C2C2C2;
}
.login__name-wrap{
	margin-bottom:12px;
}
.login__password-wrap{
	position: relative;
}
.login__password-show{
	position: absolute;
	right:0;
	top:1px;
	height:44px;
	width:51px;
	cursor: pointer;
}
.login__error-wrap{
	margin-top:3px;
	height:21px;
	padding-left:15px;
}
.login__error{
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #FF4C60;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}
.login__button{
	margin-top:8px;
	height: 46px;
	font-weight:700;
	font-size: 26px;
	line-height:46px;
	color: #FFFFFF;
	background: #55A8FD;
	border-radius: 5px;
	text-align:center;
	cursor: pointer;
}